<!DOCTYPE html>
<html lang="zh-CN" ng-app="testApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">	
        <title>NOIP (14) C++ 2008-10-18</title>
        <link href="../../assets/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
        <link href="../../assets/me/css/test.css" rel="stylesheet">
    </head>

    <body ng-controller="test-paper as $ctrl" data-ng-init="loadAnswers()">
        <header class="navbar navbar-static-top" id="top">
            <div class="container" >
                <div class="navbar-header">
                    <div class="navbar-brand">NOIP(14)2008普及组C++初赛试题</div>
                </div>
                <!-- 首行右侧-->
                <nav id="bs-navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>竞赛时间：2008 年10 月18 日 14:30~16:30</a></li>
                    </ul>
                </nav>
            </div>  
        </header>

		<div class="container">
			<div class="col-md-9" role="main"> 
				<div class="page-header">
  					<h4><b>一、单选题</b>（共20 题，每题 1.5 分，共计 30 分；每题有且仅有一个正确选项）</h4>
				</div>
				<div id="QA101" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">1.&nbsp;</th>
  								<td>微型计算机中，控制器的基本功能是（   ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td><input type="radio" name="ans_01" id="ans_01_A" value="A" ng-model="ans.questa[0].answer" />
								<label for="ans_01_A">A.控制机器各个部件协调工作  </label>
						</td></tr><tr></tr><td>
								<input type="radio" name="ans_01" id="ans_01_B" value="B" ng-model="ans.questa[0].answer" />
								<label for="ans_01_B">B.实现算术运算和逻辑运算</label>
						</td></tr><tr><td>
								<input type="radio" name="ans_01" id="ans_01_C" value="C" ng-model="ans.questa[0].answer" />
								<label for="ans_01_C">C. 获取外部信息</label>
						</td></tr><tr><td>
								<input type="radio" name="ans_01" id="ans_01_D" value="D" ng-model="ans.questa[0].answer" />
								<label for="ans_01_D">D. 存放程序和数据</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA102" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">2.&nbsp;</th>
  								<td>设A=true，B=false，C=true，D=false，以下逻辑运算表达式值为真的是（  ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_A" value="A" ng-model="ans.questa[1].answer" />
								<label for="ans_02_A">A. (A∧B)∨(C∧D∨ A)</label>
							</td><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_B" value="B" ng-model="ans.questa[1].answer" />
								<label for="ans_02_B">B. (( A∧B)∨C)∧ D</label>
							</td><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_C" value="C" ng-model="ans.questa[1].answer" />
								<label for="ans_02_C">C. (B∨C∨D)∧D∧A</label>
							</td><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_D" value="D" ng-model="ans.questa[1].answer" />
								<label for="ans_02_D">D. A∧(D∨ C)∧B </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA103" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">3.&nbsp;</th>
  								<td>在下列关于图灵奖的说法中，不正确的是（   ）。</td></tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td >
								<input type="radio" name="ans_03" id="ans_03_A" value="A" ng-model="ans.questa[2].answer" />
								<label for="ans_03_A">A. 图灵奖是美国计算机协会于1966年设立的，专门奖励那些对计算机事业作出重要贡献的个人。</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_03" id="ans_03_B" value="B" ng-model="ans.questa[2].answer" />
								<label for="ans_03_B">B. 图灵奖有“计算机界诺贝尔奖”之称。</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_03" id="ans_03_C" value="C" ng-model="ans.questa[2].answer" />
								<label for="ans_03_C">C. 迄今为止，还没有华裔计算机科学家获此殊荣。</label>
							</td></tr><tr><td >
								<input type="radio" name="ans_03" id="ans_03_D" value="D" ng-model="ans.questa[2].answer" />
								<label for="ans_03_D">D. 图灵奖的名称取自计算机科学的先驱、英国科学家阿兰·图灵 </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA104" class="panel panel-default">
  					<div class="panel-heading"
  						<table>
  							<tr><th valign="top" nowrap="nowrap">4.&nbsp;</th>
  								<td>计算机在工作过程中，若突然停电，（    ）中的信息不会丢失。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_A" value="A" ng-model="ans.questa[3].answer" />
								<label for="ans_04_A">A. ROM和RAM</label>
							</td><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_B" value="B" ng-model="ans.questa[3].answer" />
								<label for="ans_04_B">B. CPU</label>
							</td><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_C" value="C" ng-model="ans.questa[3].answer" />
								<label for="ans_04_C">C. ROM</label>
							</td><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_D" value="D" ng-model="ans.questa[3].answer" />
								<label for="ans_04_D">D. RAM</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA105" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">5.&nbsp;</th>
  								<td>完全二叉树共有2*N-1个结点，则它的叶节点数是（   ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_05" id="ans_05_A" value="A" ng-model="ans.questa[4].answer" />
								<label for="ans_05_A">A. N-1</label>
							</td><td width="25%">
								<input type="radio" name="ans_05" id="ans_05_B" value="B" ng-model="ans.questa[4].answer" />
								<label for="ans_05_B">B. N</label>
							</td><td width="25%">
								<input type="radio" name="ans_05" id="ans_05_C" value="C" ng-model="ans.questa[4].answer" />
								<label for="ans_05_C">C. 2*N</label>
							</td><td width="25%">
								<input type="radio" name="ans_05" id="ans_05_D" value="D" ng-model="ans.questa[4].answer" />
								<label for="ans_05_D">D. 2 <sup>N</sup>-1</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA106" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">6.&nbsp;</th>
  								<td>在以下各项中，（  ）不是操作系统软件。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_A" value="A" ng-model="ans.questa[5].answer" />
								<label for="ans_06_A">A. Solaris</label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_B" value="B" ng-model="ans.questa[5].answer" />
								<label for="ans_06_B">B. Linux</label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_C" value="C" ng-model="ans.questa[5].answer" />
								<label for="ans_06_C">C. Windows Vista</label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_D" value="D" ng-model="ans.questa[5].answer" />
								<label for="ans_06_D">D. Sybase</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA107" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">7.&nbsp;</th>
  								<td>设栈S的初始状态为空， 元素a，b，c，d，e，f依次入栈S， 出栈的序列为b，d，f，e，c，a， 则栈S的容量至少应该是（   ）。</td>
  							</tr>
  						</table>
  					</div>
  					<table class="table">
  						<tr><td width="25%">
							<input type="radio" name="ans_07" id="ans_07_A" value="A" ng-model="ans.questa[6].answer" />
							<label for="ans_07_A">A. 6 </label>
  						</td><td width="25%">
							<input type="radio" name="ans_07" id="ans_07_B" value="B" ng-model="ans.questa[6].answer" />
							<label for="ans_07_B">B. 5</label>
  						</td><td width="25%">
							<input type="radio" name="ans_07" id="ans_07_C" value="C" ng-model="ans.questa[6].answer" />
							<label for="ans_07_C">C. 4 </label>
  						</td><td width="25%">
							<input type="radio" name="ans_07" id="ans_07_D" value="D" ng-model="ans.questa[6].answer" />
							<label for="ans_07_D">D. 3</label>
  						  </td>
  						</tr>
  					</table>
				</div>

				<div id="QA108" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top">8.&nbsp;</th>
  								<td>与十进制数28.5625相等的四进制数是（）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_A" value="A" ng-model="ans.questa[7].answer" />
								<label for="ans_08_A">A. 123.21</label>
							</td><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_B" value="B" ng-model="ans.questa[7].answer" />
								<label for="ans_08_B">B. 131.22</label>
							</td><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_C" value="C" ng-model="ans.questa[7].answer" />
								<label for="ans_08_C">C. 130.22</label>
							</td><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_D" value="D" ng-model="ans.questa[7].answer" />
								<label for="ans_08_D">D. 130.21</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA109" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">9.&nbsp;</th>
  								<td>设字符串S=”Olympic”，S的非空子串的数目是（  ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_A" value="A" ng-model="ans.questa[8].answer" />
								<label for="ans_09_A">A. 28</label>
							</td><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_B" value="B" ng-model="ans.questa[8].answer" />
								<label for="ans_09_B">B. 29</label>
							</td><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_C" value="C" ng-model="ans.questa[8].answer" />
								<label for="ans_09_C">C. 16</label>
							</td><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_D" value="D" ng-model="ans.questa[8].answer" />
								<label for="ans_09_D">D. 17</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA110" class="panel panel-default">
  					<div class="panel-heading">
						<table>
							<tr><th valign="top">10.&nbsp;</th>
								<td>Web2.0是近年来互联网的热门概念之一，其核心思想是互动与分享。下列网站中，（）是典型的Web2.0应用。</td>
						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_10" id="ans_10_A" value="A" ng-model="ans.questa[9].answer" />
								<label for="ans_10_A">A. Sina</label>
							</td><td width="25%">
								<input type="radio" name="ans_10" id="ans_10_B" value="B" ng-model="ans.questa[9].answer" />
								<label for="ans_10_B">B. Flickr</label>
							</td><td width="25%">
								<input type="radio" name="ans_10" id="ans_10_C" value="C" ng-model="ans.questa[9].answer" />
								<label for="ans_10_C">C. Yahoo</label>
							</td><td width="25%">
								<input type="radio" name="ans_10" id="ans_10_D" value="D" ng-model="ans.questa[9].answer" />
								<label for="ans_10_D">D. Google</label>
							</td>
						</tr>
					</table>
				</div>
				
			<div id="QA111" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">11.&nbsp;</th>
  								<td>递归过程或函数调用时，处理参数和返回地址，通常使用一种称为（）的数据结构。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_A" value="A" ng-model="ans.questa[10].answer" />
								<label for="ans_11_A">A. 队列  </label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_B" value="B" ng-model="ans.questa[10].answer" />
								<label for="ans_11_B">B. 多维数组  </label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_C" value="C" ng-model="ans.questa[10].answer" />
								<label for="ans_11_C">C. 线性表</label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_D" value="D" ng-model="ans.questa[10].answer" />
								<label for="ans_11_D">D. 栈</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA112" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">12.&nbsp;</th>
  								<td>(2008)<sub>10</sub> + (5B)<sub>16</sub>的结果是（   ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_A" value="A" ng-model="ans.questa[11].answer" />
								<label for="ans_12_A">A. (833)<sub>16</sub></label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_B" value="B" ng-model="ans.questa[11].answer" />
								<label for="ans_12_B">B. (2089)<sub>10</sub> </label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_C" value="C" ng-model="ans.questa[11].answer" />
								<label for="ans_12_C">C. (4163)<sub>8</sub></label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_D" value="D" ng-model="ans.questa[11].answer" />
								<label for="ans_12_D">D. (100001100011)<sub>2</sub> </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA113" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">13.&nbsp;</th>
  								<td>二叉树T，已知其先根遍历是1 2 4 3 5 7 6（数字为结点的编号，以下同），中根遍历是2 4 1 5 7 3 6，则该二叉树的后根遍历是（   ）。</td>
  							</tr>
  						</table>
  					</div>
  					<table class="table">
  						<tr><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_A" value="A" ng-model="ans.questa[12].answer" />
							<label for="ans_13_A">A. 4 2 5 7 6 3 1</label>
  						</td><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_B" value="B" ng-model="ans.questa[12].answer" />
							<label for="ans_13_B">B. 4 2 7 5 6 3 1</label>
  						</td><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_C" value="C" ng-model="ans.questa[12].answer" />
							<label for="ans_13_C">C. 7 4 2 5 6 3 1</label>
  						</td><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_D" value="D" ng-model="ans.questa[12].answer" />
							<label for="ans_13_D">D. 4 2 7 6 5 3 1</label>
  						</td></tr>
  					</table>
				</div>

				<div id="QA114" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">14.&nbsp;</th>
  								<td>将数组{8,23,4,16,77,-5,53,100}中的元素按从大到小的顺序排列，每次可以交换任意两个元素，最少需要交换（）次。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_A" value="A" ng-model="ans.questa[13].answer" />
								<label for="ans_14_A">A. 4</label>
							</td><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_B" value="B" ng-model="ans.questa[13].answer" />
								<label for="ans_14_B">B. 5</label>
							</td><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_C" value="C" ng-model="ans.questa[13].answer" />
								<label for="ans_14_C">C. 6</label>
							</td><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_D" value="D" ng-model="ans.questa[13].answer" />
								<label for="ans_14_D">D. 7</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA115" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">15.&nbsp;</th>
  								<td>对有序数组{5,13,19,21,37,56,64,75,88,92,100}进行二分查找，成功查找元素19的查找长度（比较次数）是（）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_A" value="A" ng-model="ans.questa[14].answer" />
								<label for="ans_15_A">A. 1</label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_B" value="B" ng-model="ans.questa[14].answer" />
								<label for="ans_15_B">B. 2</label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_C" value="C" ng-model="ans.questa[14].answer" />
								<label for="ans_15_C">C. 3</label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_D" value="D" ng-model="ans.questa[14].answer" />
								<label for="ans_15_D">D. 4</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA116" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">16.&nbsp;</th>
  								<td>面向对象程序设计（Object-Oriented Programming）是一种程序设计的方法论，它将对象作为程序的基本单元，将数据和程序封装在对象中，以提高软件的重用性、灵活性和扩展性。下面关于面向对象程序设计的说法中，不正确的是（）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td><input type="radio" name="ans_16" id="ans_16_A" value="A" ng-model="ans.questa[15].answer" />
								<label for="ans_16_A">A. 面向对象程序设计通常采用自顶向下设计方法进行设计。</label>
							</td></tr><tr><td >
								<input type="radio" name="ans_16" id="ans_16_B" value="B" ng-model="ans.questa[15].answer" />
								<label for="ans_16_B">B. 面向对象程序设计方法具有继承性（inheritance）、封装性（encapsulation）、多态性（polymorphism）等几大特点。</label>
							</td></tr><tr><td >
								<input type="radio" name="ans_16" id="ans_16_C" value="C" ng-model="ans.questa[15].answer" />
								<label for="ans_16_C">C. 支持面向对象特性的语言称为面向对象的编程语言，目前较为流行的有C++、JAVA、C#等。</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_16" id="ans_16_D" value="D" ng-model="ans.questa[15].answer" />
								<label for="ans_16_D">D. 面向对象的程序设计的雏形来自于Simula语言，后来在SmallTalk语言的完善和标准化的过程中得到更多的扩展和对以前思想的重新注解。至今，SmallTalk语言仍然被视为面向对象语言的基础。</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA117" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">17.&nbsp;</th>
  								<td>在32*32点阵的“字库”中，汉字“北”与“京”的字模占用字节数之和是（   ）。 </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_A" value="A" ng-model="ans.questa[16].answer" />
								<label for="ans_17_A">A. 512</label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_B" value="B" ng-model="ans.questa[16].answer" />
								<label for="ans_17_B">B. 256</label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_C" value="C" ng-model="ans.questa[16].answer" />
								<label for="ans_17_C">C. 384</label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_D" value="D" ng-model="ans.questa[16].answer" />
								<label for="ans_17_D">D. 128</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA118" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">18.&nbsp;</th>
  								<td>设T是一棵有n个顶点的树，下列说法不正确的是（    ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_A" value="A" ng-model="ans.questa[17].answer" />
								<label for="ans_18_A">A. T有n条边</label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_B" value="B" ng-model="ans.questa[17].answer" />
								<label for="ans_18_B">B. T是连通的</label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_C" value="C" ng-model="ans.questa[17].answer" />
								<label for="ans_18_C">C. T是无环的</label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_D" value="D" ng-model="ans.questa[17].answer" />
								<label for="ans_18_D">D. T有n-1条边</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA119" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">19.&nbsp;</th>
  								<td>下列不属于NOIP竞赛推荐使用的语言环境的是（）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_A" value="A" ng-model="ans.questa[18].answer" />
								<label for="ans_19_A">A. Dev-C++ </label>
							</td><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_B" value="B" ng-model="ans.questa[18].answer" />
								<label for="ans_19_B">B. Visual C++</label>
							</td><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_C" value="C" ng-model="ans.questa[18].answer" />
								<label for="ans_19_C">C. free pascal</label>
							</td><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_D" value="D" ng-model="ans.questa[18].answer" />
								<label for="ans_19_D">D. Lazarus</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA120" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">20.&nbsp;</th>
  								<td>在C++程序中，表达式200|10的值是（   ）</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_20" id="ans_20_A" value="A" ng-model="ans.questa[19].answer" />
								<label for="ans_20_A">A. 20</label>
							</td><td width="25%">
								<input type="radio" name="ans_20" id="ans_20_B" value="B" ng-model="ans.questa[19].answer" />
								<label for="ans_20_B">B. 1</label>
							</td><td width="25%">
								<input type="radio" name="ans_20" id="ans_20_C" value="C" ng-model="ans.questa[19].answer" />
								<label for="ans_20_C">C. 220</label>
							</td><td width="25%">
								<input type="radio" name="ans_20" id="ans_20_D" value="D" ng-model="ans.questa[19].answer" />
								<label for="ans_20_D">D. 202</label>
							</td>
						</tr>
					</table>
				</div>

				<div class="page-header">
  					<h4>
  						<b>二、问题求解</b>
  						（共2 题，每题 5 分，共计 10 分；每题全部答对得5 分，没有部分分）
  					</h4>
				</div>
				
				<div id="QA201" class="panel panel-default">
  					<div class="panel-body">
						<table >
							<tr>
								<th valign="top" nowrap="nowrap">1.&nbsp;</th>
								<td >
								 书架上有4本不同的书A、B、C、D。其中A和B是红皮的，C和D是黑皮的。把这4本书摆在书架上，满足所有黑皮的书都排在一起的摆法有<input style="width: 120px;" type="text" ng-model="ans.questb[0].answer" placeholder="[2.5分]">种。							   
								 满足 A必须比C靠左，所有红皮的书要摆放在一起，所有黑皮的书要摆放在一起，共有<input style="width:120px;" type="text" ng-model="ans.questb[1].answer"  placeholder="[2.5分]">种摆法。  	
							    </td>
							</tr>
						</table>
  					</div>
				</div>
				
				<div id="QA202" class="panel panel-default">
  					<div class="panel-body">
						<table>
							<tr>
								<th valign="top" nowrap="nowrap">2.&nbsp;</th>
								<td >
									有6个城市，任何两个城市之间都有一条道路连接，6个城市两两之间的距离如下表所示，则城市1到城市6的最短距离为  <input style="width: 120px;" type="text" ng-model="ans.questb[2].answer"  placeholder="[5分]">。
								</td>
							</tr>
							<tr><td>
							</td><td>
<table border="1" width="100%">
    <tr><th></th><th>城市1</th><th>城市2</th><th>城市3</th><th>城市4</th><th>城市5</th><th>城市6</th></tr>
    <tr><th>城市1</th><td>0</td><td>2</td><td>3</td><td>1</td><td>12</td><td>15</td></tr>         
    <tr><th>城市2</th><td>2</td><td>0</td><td>2</td><td>5</td><td>3</td><td>12</td></tr>         
    <tr><th>城市3</th><td>3</td><td>2</td><td>0</td><td>3</td><td>6</td><td>5</td></tr>         
    <tr><th>城市4</th><td>1</td><td>5</td><td>3</td><td>0</td><td>7</td><td>9</td></tr>         
    <tr><th>城市5</th><td>12</td><td>3</td><td>6</td><td>7</td><td>0</td><td>2</td></tr>         
    <tr><th>城市6</th><td>15</td><td>12</td><td>5</td><td>9</td><td>2</td><td>0</td></tr>         
</table>
							    
							</td></tr>
						
						</table>
  					</div>
				</div>
				
				<div class="page-header">
  					<h4><b>三、阅读程序写结果</b>（共4 题，每题 8 分，共计 32 分）</h4>
				</div>
				<div id="QA301" class="panel panel-default">
  					<div class="panel-body">
  						<table width="100%">
  							<tr><th valign="top" nowrap="nowrap">1.&nbsp;</th>
  								<td width="100%">
		<pre>
#include &lt;iostream>
using namespace std;
int main()
{
    int i, a, b, c, d, f[4];
    for(i = 0; i < 4; i++) cin >> f[i];
    a = f[0] + f[1] + f[2] + f[3];
    a = a / f[0];
    b = f[0] + f[2] + f[3];
    b = b / a;
    c = (b * f[1] + a) / f[2];
    d = f[(b / c ) % 4];
    if(f[(a + b + c + d) % 4] > f[2])
        cout << a + b<< endl;
    else 
        cout << c + d << endl;
    return 0;
}
		 </pre>
  							   </td>
  							</tr>
  							<tr><td></td><td>
  								<table>
  									<tr><td>输入：</td><td>9 19 29 39</td></tr>
  									<tr><td>输出：</td><td>
  										<input style="width: 240px;" type="text" ng-model="ans.questc[0].answer" placeholder="[8分]">
  							    </table>
  							</td></tr>
  						</table>
					</div>
				</div>
				
				<div id="QA302" class="panel panel-default">
  					<div class="panel-body">
  							<table width="100%">
  							<tr><th valign="top" nowrap="nowrap">2.&nbsp;</th>
  								<td width="100%">
  								<pre>
#include &lt;iostream>
using namespace std;
void foo(int a, int b, int c)
{
    if(a > b) 
        foo(c, a, b);
    else
        cout<&lt;a<&lt;','<&lt;b<&lt;','<&lt; c<&lt;endl;
}

int main()
{
    int a, b, c;
    cin >> a >> b >> c;
    foo(a, b, c);
    return 0;
}
  								</pre>
  								 </td>
  							</tr>
  							<tr><td></td><td>
  								<table>
  									<tr><td>输入：</td><td>3 1 2</td></tr>
  									<tr><td>输出：</td><td>
  										<input style="width: 240px;" type="text" ng-model="ans.questc[1].answer" placeholder="[8分]">
  							    </table>
  							</td></tr>
  						</table>
					</div>
				</div>
				
				
<div id="QA303" class="panel panel-default">
  					<div class="panel-body">
  						<table width="100%">
  							<tr><th valign="top" nowrap="nowrap">3.&nbsp;</th>
  								<td width="100%">
		<pre>
#include &lt; iostream>
using namespace std;
void func(int ary[], int n )
{
    int i=0, j, x;
    j=n-1;
    while(i&lt;j)
    {
        while (i&lt;j&&ary[i]>0) i++;
        while (i&lt;j&&ary[j]<0) j--;
        if (i&lt;j)
        {
            x=ary[i];
            ary[i++]=ary[j];
            ary[j--]=x;
        }
    }
}

int main()
{
    int a[20], i, m;
    m=10;
    for(i=0; i&lt;m; i++)
    {
        cin>>a[i];
    }
    func(a, m);
    for (i=0; i&lt;m; i++)
        cout<&lt;a[i]<&lt;" ";
    cout<< endl;
    return 0;
}
		 </pre>
		                         </td>
  							   </tr>
  							      <tr><td></td><td>
  								       <table>
  									      <tr><td>输入：</td><td>5 4 -6 -11 6 -59 22 -6 1 10</td></tr>
  									      <tr><td>输出：</td><td>
  										<input style="width: 240px;" type="text" ng-model="ans.questc[2].answer" placeholder="[8分]">
  							            </table>
  							         </td></tr>
  						       </table>
					      </div>
				     </div>
				

				<div id="QA304" class="panel panel-default">
  					<div class="panel-body">
  						<table width="100%">
  							<tr><th valign="top" nowrap="nowrap">4.&nbsp;</th>
  								<td width="100%">
		<pre>
#include&lt;iostream>
#include&lt;cstring>
using namespace std;
#define MAX 100
void solve(char first[], int spos_f, int epos_f, char mid[], int spos_m, int epos_m)
{
    int i, root_m;
    if(spos_f > epos_f)
        return;
    for(i = spos_m; i <= epos_m; i++)
        if(first[spos_f] == mid[i])
        {
            root_m = i;
            break;
        }
    solve(first, spos_f + 1, spos_f + (root_m - spos_m), mid, spos_m, root_m - 1);
    solve(first, spos_f + (root_m - spos_m) + 1, epos_f, mid, root_m + 1, epos_m);
    cout << first[spos_f];
}

int main()
{
    char first[MAX], mid[MAX];
    int len;
    cin >> len;
    cin >> first >> mid;
    solve(first, 0, len - 1, mid , 0, len - 1);	
    cout << endl;
    return 0;
}
		 </pre>
  								</td>
  							</tr>
  							<tr><td></td><td>
  								<table>
  									<tr>输入： <td>7 <br>ABDCEGF <br> BDAGECF <br></td></tr>
  									<tr><td>输出：</td><td>
								 		<input style="width: 240px;" type="text" ng-model="ans.questc[3].answer" placeholder="[8分]">
  									</td></tr>
  								</table>
  							</td></tr>
  						</table>
					</div>
				</div>
				
				
				<div class="page-header">
  					<h4><b>四、完善程序</b>（共2 题，每题 14 分，共计 28 分）</h4>
				</div>
				<div id="QA401" class="panel panel-default">
				  	<div class="panel-heading">
				    	<table width="100%">
				    		<tr>
				    			<th valign="top" nowrap="nowrap">1.&nbsp;</th>
				    			<th align="left" width="100%">（字符串替换）</th>
				    		</tr>
				    		<tr><td></td><td>
				    			给定一个字符串S（S仅包含大小写字母），下面的程序将S中的每个字母用规定的字母替换，并输出S经过替换后的结果。程序的输入是两个字符串，第一个字符串是给定的字符串S，第二个字符串S’由26个字母组成，它是a-z的任一排列，大小写不定，S’规定了每个字母对应的替换字母：S’中的第一个字母是字母A和a的替换字母，即S中的A用该字母的大写替换，S中的a用该字母的小写替换；S’中的第二个字母是字母B和b的替换字母，即S中的B用该字母的大写替换，S中的b用该字母的小写替换；…… 以此类推。
				    		</td></tr>
				    		<tr><td></td><td>
				    			<pre>
#include &lt;iostream>
#include &lt;string.h>
char change[26], str[5000];
using namespace std;
void CheckChangeRule()
{
    int i;
    for (i = 0;i < 26;i ++)
    {
        if (<input id="QA411" style="width:240px;" type="text" ng-model="ans.questd[0].answer" placeholder="(___1___)[2.5分]">)
            change[i] -= 'A' - 'a';
    }
}
	
void ChangeString()
{
    int i;
    for (i = 0;i &lt;strlen(str);i ++)
    {
        if(<input id="QA412" style="width:240px;" type="text" ng-model="ans.questd[1].answer" placeholder="(___2___)[2.5分]">)
            str[i] = change[str[i] - 'A'] -'a' + 'A';
        else
            <input id="QA413" style="width:240px;" type="text" ng-model="ans.questd[2].answer" placeholder="(___3___)[2.5分]">;
    }
}
	
int main()
{
    int i;
    cin >> str ;
    cin >> change;
    CheckChangeRule();
    <input id="QA414" style="width:240px;" type="text" ng-model="ans.questd[3].answer" placeholder="(___4___)[2.5分]">;
    cout << str << endl;
    return 0;
}
				    	</pre>
				    		</td></tr>
						</table>
					</div>
				</div>


<div id="QA402" class="panel panel-default">
				  	<div class="panel-heading">
				    	<table width="100%">
				    		<tr>
				    			<th valign="top" nowrap="nowrap">2.&nbsp;</th>
				    			<th align="left" width="100%">（找第k大的数）</th>
				    		</tr>
				    		<tr><td></td><td>
				    			给定一个长度为1,000,000的无序正整数序列, 以及另一个数n (1<=n<=1000000), 然后以类似快速排序的方法找到序列中第n大的数（关于第n大的数：例如序列{1，2，3，4，5，6}中第3大的数是4）。
				    		</td></tr>
				    		<tr><td></td><td>
				    			<pre>
#include &lt;iostream>
using namespace std;
	
int a[1000001],n,ans = -1;
void swap(int &a,int &b)
{
    int c;
    c = a; a = b; b = c;
}
	
int FindKth(int left, int right, int n)
{
    int tmp,value,i,j;
    if (left == right) return left;
    tmp = rand()% (right - left) + left;
    swap(a[tmp],a[left]);
    value = <input id="QA421" style="width:240px;" type="text" ng-model="ans.questd[4].answer" placeholder="(___1___)[3分]">;
    i = left;
    j = right;
    while (i < j)
    {
        while (i < j && <input id="QA422" style="width:240px;" type="text" ng-model="ans.questd[5].answer" placeholder="(___2___)[3分]"> ) j--;
        if (i < j) {a[i] = a[j]; i++;} else break;
        while (i < j && <input id="QA423" style="width:240px;" type="text" ng-model="ans.questd[6].answer" placeholder="(___3___)[3分]">) i++;
        if (i < j) {a[j] = a[i]; j--;} else break;
    }
    <input id="QA424" style="width:240px;" type="text" ng-model="ans.questd[7].answer" placeholder="(___4___)[3分]">;
    if(i < n) return FindKth(<input id="QA425" style="width:240px;" type="text" ng-model="ans.questd[8].answer" placeholder="(___5___)[3分]">);
    if(i > n) return <input id="QA426" style="width:240px;" type="text" ng-model="ans.questd[9].answer" placeholder="(___6___)[3分]">;
    return i;
}
	
int main()
{
    int i;
    int m = 1000000;
    for (i = 1;i <= m;i ++)
        cin >> a[i];
    cin >> n;
    ans = FindKth(1,m,n);
    cout << a[ans];
    return 0;
}
								</pre></td>
				    		</tr>
						</table>
					</div>
				</div>
			</div>
					<div class="col-md-3" role="complementary">
				<div id="panel-top" class="page-header">
  					<h4><b>一、单选题</b></h4>
				</div>
    			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA101"><button id="btn_1_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA102"><button id="btn_1_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA103"><button id="btn_1_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA104"><button id="btn_1_4" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA105"><button id="btn_1_5" type="button" class="btn btn-default">5</button></a>
        				<a href="#QA106"><button id="btn_1_6" type="button" class="btn btn-default">6</button></a>
        				<a href="#QA107"><button id="btn_1_7" type="button" class="btn btn-default">7</button></a>
        				<a href="#QA108"><button id="btn_1_8" type="button" class="btn btn-default">8</button></a>
        				<a href="#QA109"><button id="btn_1_9" type="button" class="btn btn-default">9</button></a>
        				<a href="#QA110"><button id="btn_1_10" type="button" class="btn btn-default">10</button></a>
        				<a href="#QA111"><button id="btn_1_11" type="button" class="btn btn-default">11</button></a>
        				<a href="#QA112"><button id="btn_1_12" type="button" class="btn btn-default">12</button></a>
        				<a href="#QA113"><button id="btn_1_13" type="button" class="btn btn-default">13</button></a>
        				<a href="#QA114"><button id="btn_1_14" type="button" class="btn btn-default">14</button></a>
        				<a href="#QA115"><button id="btn_1_15" type="button" class="btn btn-default">15</button></a>
        				<a href="#QA116"><button id="btn_1_16" type="button" class="btn btn-default">16</button></a>
        				<a href="#QA117"><button id="btn_1_17" type="button" class="btn btn-default">17</button></a>
        				<a href="#QA118"><button id="btn_1_18" type="button" class="btn btn-default">18</button></a>
        				<a href="#QA119"><button id="btn_1_19" type="button" class="btn btn-default">19</button></a>
        				<a href="#QA120"><button id="btn_1_20" type="button" class="btn btn-default">20</button></a>
      				</div>
    			</div>
				<div class="page-header">
  					<h4><b>二、问题求解</b></h4>
				</div>
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA201"><button id="btn_2_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA202"><button id="btn_2_2" type="button" class="btn btn-default">2</button></a>
      				</div>
    			</div>
				<div class="page-header">
  					<h4><b>三、阅读程序写结果</b></h4>
				</div>
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA301"><button id="btn_3_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA302"><button id="btn_3_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA303"><button id="btn_3_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA304"><button id="btn_3_4" type="button" class="btn btn-default">4</button></a>
      				</div>
    			</div>
				<div class="page-header">
  					<h4><b>四、完善程序</b></h4>
				</div>
					<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA411"><button id="btn_4_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA412"><button id="btn_4_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA413"><button id="btn_4_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA414"><button id="btn_4_4" type="button" class="btn btn-default">4</button></a>
        			
      				</div>
      				<div class="btn-group" role="group" aria-label="Second group">
        				<a href="#QA421"><button id="btn_4_5" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA422"><button id="btn_4_6" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA423"><button id="btn_4_7" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA424"><button id="btn_4_8" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA425"><button id="btn_4_9" type="button" class="btn btn-default">5</button></a>
        				<a href="#QA426"><button id="btn_4_10" type="button" class="btn btn-default">6</button></a>
      				</div>
      				
    		</div>
			</div>
		</div>
		
        <footer class="footer ">
            <div class="container">
                <hr>
                <div class="row footer-bottom">
                    <ul class="list-inline text-center">
                        <li><a>网页制作：张大为 欧泽坤</a></li>
                        <li>制作日期：2018年6月9日</li>
                    </ul>
                </div>
            </div>
        </footer>
		
			<!-- 左侧边栏 -->
<div class="tool-box" style="left:-20px; display: block;">
			<ul class="meau-list">
				<li>
					<a class="btn-comments" title="交卷"  ng-click="$ctrl.doHandin()" style="cursor: pointer">
						<span class="glyphicon  glyphicon-log-out glp-size"></span><br>交卷
					</a>
				</li>
				<li>
					<a class="btn-comments" title="返回"  href="#panel-top" style="cursor: pointer">
						<span class="glyphicon  glyphicon-share-alt glp-size"></span><br>返回
					</a>
				</li>
			</ul>
		</div>
		
 <!-- 成绩模态框 -->
    	<script type="text/ng-template" id="handin.html">
			<div class="panel panel-default">
				<div class="panel-heading">
					<table width="100%">
						<tr style="font-size: 20px; font-weight: bold;">
							<td>成绩统计结果</td>
							<td  ng-click="$ctrl.handinCancel()" align="right" style="cursor: pointer">&nbsp;X&nbsp;</td></tr>
					</table>
				</div>
				<table class="table">
					<tr>
						<th width="20%">一、单项选择</th>
						<th width="20%">二、问题求解</th>
						<th width="20%">三、阅读程序</th>
						<th width="20%">四、完善程序</th>
						<th width="20%">五、最终成绩</th>
					</tr>
					<tr>
						<td width="20%">{{score.q1}}</td>
						<td width="20%">{{score.q2}}</td>
						<td width="20%">{{score.q3}}</td>
						<td width="20%">{{score.q4}}</td>
						<td width="20%">{{score.qq}}</td>
					</tr>
				</table>
			</div>
    	</script>
		
		
		<script src="../../assets/jquery/3.3.1/jquery-3.3.1.min.js"></script>
		<script src="../../assets/angular/1.6.9/angular.min.js"></script>
		<script src="../../assets/angular-ui-bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
		<script src="../../assets/ng-dialog/1.4.0/js/ngDialog.min.js"></script>
		
		<script type="text/javascript">
    		var app = angular.module('testApp',['ui.bootstrap','ngDialog']);

			app.controller('test-paper', function ($log ,$scope,$http,$uibModal,ngDialog) {
    			var $ctrl = this;

				$scope.ans = {};
				$scope.score = {q1:0,q2:0,q3:0,q4:0,qq:0};
				$scope.loadAnswers = function () {
		            $http({method: 'GET',url: '../../assets/data/junior-2008-10-18.json'}).then(
		                function successCallback(response) {
		                    $scope.ans = response.data;
		                    //$log.info($scope.ans);
		                }, function errorCallback(response) {
		                    $log.info(response);
		                }
		            );
		        }
    			
		        $scope.doJudge=function(){
		        	var sa = 0;
		        	for(var i=0;i<20;i++){
		        		var id = "#btn_1_" + (i+1);
		        		var qa = $scope.ans.questa[i];
		        		if(qa.answer==qa.key){
		        			sa = sa + qa.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}

		        	}
					$scope.score.q1 = sa;
					//$log.info($scope.score.q1);
		        	var sb = 0;
                    for(var i=0;i<3;i++){
                        var id = "#btn_2_" + (i+1);
                        var qb = $scope.ans.questb[i];
                        if($.trim(qb.answer)==qb.key){
                            sb = sb + qb.score;
                            $(id).removeClass("btn-danger");
                            $(id).addClass("btn-success");
                        }else{
                            $(id).removeClass("btn-success");
                            $(id).addClass("btn-danger");
                        }
                    }
					$scope.score.q2 = sb;
		        	var sc = 0;
		        	for(var i=0;i<4;i++){
		        		var id = "#btn_3_" + (i+1);
		        		var qc = $scope.ans.questc[i];
		        		if($.trim(qc.answer)==qc.key){
		        			sc = sc + qc.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q3 = sc;
					
		        	var sd = 0;
		        	for(var i=0;i<10;i++){
		        		var qd = $scope.ans.questd[i];
		        		var res = removeAllSpace(qd.answer);
		        		var ans = qd.key.split(";");
		        		var flag = 0;
		        		for(var j=0;j<ans.length;j++){
							if(res==ans[j]){
								flag = 1;
								break;
							}
		        		}
		        		var id = "#btn_4_" + (i+1);
		        		if(flag==1){
		        			sd = sd + qd.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q4 = sd;
					
					$scope.score.qq = sa + sb + sc + sd;
					
					$log.info($scope.score.qq);
		        }

        		//显示登录模态框
        		$ctrl.doHandin = function(){
        			$scope.doJudge();
            		//显示模态登录对话框
            		var modalInstance = $uibModal.open({
                		animation: true,
                		ariaLabelledBy: 'login-title',
                		ariaDescribedBy: 'login-body',
                		templateUrl: 'handin.html',
                		controller: 'HandinController',
                		controllerAs: '$ctrl',
                		scope:$scope
            		});
            		//处理模态对话框按钮事件
            		modalInstance.result.then(function (data) {}, function (){});
        		}

    			
			});
			
		    //登录对话框控制器
		    app.controller('HandinController', function ($uibModalInstance,$scope,$log) {
		        var $ctrl = this;
		        //处理登录对话框关闭按钮事件
		        $ctrl.handinCancel = function () {
		            $uibModalInstance.dismiss('cancel');
		        };
		    });
			
			function removeAllSpace(str) {
				return str.replace(/\s+/g, "");
			}

		</script>
	</body>
</html>