<!DOCTYPE html>
<html lang="zh-CN" ng-app="testApp">
  	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>NOIP (15) C++ 2009-10-17 </title>
		<link href="../../assets/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    	<link href="../../assets/me/css/test.css" rel="stylesheet">
	</head>
	<body ng-controller="test-paper as $ctrl" data-ng-init="loadAnswers()">
		<header class="navbar navbar-static-top" id="top">
			<div class="container" >
				<div class="navbar-header">
					<div class="navbar-brand">NOIP(15)2009普及组C++初赛试题</div>
				</div>
		        <!-- 首行右侧-->
		        <nav id="bs-navbar" class="collapse navbar-collapse">
		            <ul class="nav navbar-nav navbar-right">
		                <li><a>竞赛时间：2009 年10 月17 日 14:30~16:30</a></li>
		            </ul>
		        </nav>
			</div>	
		</header>
		
		<div class="container">
			<div class="col-md-9" role="main"> 
				<div class="page-header">
  					<h4><b>一、单选题</b>（共20 题，每题 1.5 分，共计 30 分；每题有且仅有一个正确选项）</h4>
				</div>
				<div id="QA101" class="panel panel-default">
  					<div class="panel-heading">	 
  						<table>
  							<tr>
  								<th nowrap="nowrap">1.&nbsp;</th>
  								<td>关于图灵机下面的说法哪个是正确的：</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_01" id="ans_01_A" value="A" ng-model="ans.questa[0].answer" />
								<label for="ans_01_A">A. 图灵机是世界上最早的电子计算机。   </label>
							</td>
						</tr>	
						<tr>
							<td>
								<input type="radio" name="ans_01" id="ans_01_B" value="B" ng-model="ans.questa[0].answer" />
								<label for="ans_01_B">B. 由于大量使用磁带操作，图灵机运行速度很慢。   </label>
							</td>
						</tr>	
						<tr>
							<td>
								<input type="radio" name="ans_01" id="ans_01_C" value="C" ng-model="ans.questa[0].answer" />
								<label for="ans_01_C">C. 图灵机是英国人图灵发明的，在二战中为破译德军的密码发挥了重要作用。   </label>
							</td>
						</tr>	
						<tr>
							<td>
								<input type="radio" name="ans_01" id="ans_01_D" value="D" ng-model="ans.questa[0].answer" />
								<label for="ans_01_D">D. 图灵机只是一个理论上的计算模型。   </label>
							</td>
						</tr>	
						
					</table>
				</div>

				<div id="QA102" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th nowrap="nowrap">2.&nbsp;</th>
  								<td>关于计算机内存下面的说法哪个是正确的： </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_02" id="ans_02_A" value="A" ng-model="ans.questa[1].answer" />
								<label for="ans_02_A">A. 随机存储器（RAM）的意思是当程序运行时，每次具体分配给程序的内存位置是随机而不确定的。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_02" id="ans_02_B" value="B" ng-model="ans.questa[1].answer" />
								<label for="ans_02_B">B. 1MB内存通常是指1024*1024字节大小的内存。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_02" id="ans_02_C" value="C" ng-model="ans.questa[1].answer" />
								<label for="ans_02_C">C. 计算机内存严格说来包括主存（memory）、高速缓存（cache）和寄存器（register）三个部分。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_02" id="ans_02_D" value="D" ng-model="ans.questa[1].answer" />
								<label for="ans_02_D">D. 一般内存中的数据即使在断电的情况下也能保留2个小时以上。   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA103" class="panel panel-default">
  					<div class="panel-heading">  						 
  						<table>
  							<tr>
  								<th nowrap="nowrap">3.&nbsp;</th>
  								<td>关于BIOS下面说法哪个是正确的：  </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_03" id="ans_03_A" value="A" ng-model="ans.questa[2].answer" />
								<label for="ans_03_A">A. BIOS是计算机基本输入输出系统软件的简称。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_03" id="ans_03_B" value="B" ng-model="ans.questa[2].answer" />
								<label for="ans_03_B">B. BIOS里包含了键盘、鼠标、声卡、显卡、打印机等常用输入输出设备的驱动程序。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_03" id="ans_03_C" value="C" ng-model="ans.questa[2].answer" />
								<label for="ans_03_C">C. BIOS一般由操作系统厂商来开发完成。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_03" id="ans_03_D" value="D" ng-model="ans.questa[2].answer" />
								<label for="ans_03_D">D. BIOS能提供各种文件拷贝、复制、删除以及目录维护等文件管理功能。   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA104" class="panel panel-default">
  					<div class="panel-heading">  						 
  						<table>
  							<tr>
  								<th nowrap="nowrap">4.&nbsp;</th>
  								<td>关于CPU下面哪个说法是正确的：  </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_04" id="ans_04_A" value="A" ng-model="ans.questa[3].answer" />
								<label for="ans_04_A">A. CPU全称为中央处理器（或中央处理单元）。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_04" id="ans_04_B" value="B" ng-model="ans.questa[3].answer" />
								<label for="ans_04_B">B. CPU可以直接运行汇编语言。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_04" id="ans_04_C" value="C" ng-model="ans.questa[3].answer" />
								<label for="ans_04_C">C. 同样主频下，32位的CPU比16位的CPU运行速度快一倍。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_04" id="ans_04_D" value="D" ng-model="ans.questa[3].answer" />
								<label for="ans_04_D">D. CPU最早是由Intel公司发明的。   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA105" class="panel panel-default">
  					<div class="panel-heading">  						   
  						<table>
  							<tr>
  								<th nowrap="nowrap">5.&nbsp;</th>
  								<td>关于ASCII，下面哪个说法是正确的： </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_05" id="ans_05_A" value="A" ng-model="ans.questa[4].answer" />
								<label for="ans_05_A">A. ASCII码就是键盘上所有键的唯一编码。  </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_05" id="ans_05_B" value="B" ng-model="ans.questa[4].answer" />
								<label for="ans_05_B">B. 一个ASCII码使用一个字节的内存空间就能够存放。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_05" id="ans_05_C" value="C" ng-model="ans.questa[4].answer" />
								<label for="ans_05_C">C. 最新扩展的ASCII编码方案包含了汉字和其他欧洲语言的编码。   </label>
							</td>
						</tr>	
						<tr>	
							<td>
								<input type="radio" name="ans_05" id="ans_05_D" value="D" ng-model="ans.questa[4].answer" />
								<label for="ans_05_D">D. ASCII码是英国人主持制定并推广使用的。   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA106" class="panel panel-default">
  					<div class="panel-heading"> 						 
  						<table>
  							<tr>
  								<th nowrap="nowrap">6.&nbsp;</th>
  								<td>下列软件中不是计算机操作系统的是：  </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_06" id="ans_06_A" value="A" ng-model="ans.questa[5].answer" />
								<label for="ans_06_A">A. Windows   </label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_B" value="B" ng-model="ans.questa[5].answer" />
								<label for="ans_06_B">B. Linux   </label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_C" value="C" ng-model="ans.questa[5].answer" />
								<label for="ans_06_C">C. OS/2   </label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_D" value="D" ng-model="ans.questa[5].answer" />
								<label for="ans_06_D">D. WPS</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA107" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">7.&nbsp;</th>
  								<td>关于互联网，下面的说法哪一个是正确的：</td>
  							</tr>
  						</table>
  					</div>
  					<table class="table">
  						<tr><td>
							<input type="radio" name="ans_07" id="ans_07_A" value="A" ng-model="ans.questa[6].answer" />
							<label for="ans_07_A">A. 新一代互联网使用的IPv6标准是IPv5标准的升级与补充。   </label>
  						</td></tr><tr><td>
							<input type="radio" name="ans_07" id="ans_07_B" value="B" ng-model="ans.questa[6].answer" />
							<label for="ans_07_B">B. 互联网的入网8主机如果有了域名就不再需要IP地址。   </label>
  						</td></tr><tr><td>
							<input type="radio" name="ans_07" id="ans_07_C" value="C" ng-model="ans.questa[6].answer" />
							<label for="ans_07_C">C. 互联网的基础协议为TCP/IP协议。   </label>
  						</td></tr><tr><td>
							<input type="radio" name="ans_07" id="ans_07_D" value="D" ng-model="ans.questa[6].answer" />
							<label for="ans_07_D">D. 互联网上所有可下载的软件及数据资源都是可以合法免费使用的。   </label>
  						</td></tr>
  					</table>
				</div>

				<div id="QA108" class="panel panel-default">
  					<div class="panel-heading">   
  						<table>
  							<tr>
  								<th nowrap="nowrap">8.&nbsp;</th>
  								<td>关于HTML下面哪种说法是正确的：</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_08" id="ans_08_A" value="A" ng-model="ans.questa[7].answer" />
								<label for="ans_08_A">A. HTML实现了文本、图形、声音乃至视频信息的统一编码。   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_08" id="ans_08_B" value="B" ng-model="ans.questa[7].answer" />
								<label for="ans_08_B">B. HTML全称为超文本标记语言。   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_08" id="ans_08_C" value="C" ng-model="ans.questa[7].answer" />
								<label for="ans_08_C">C. 网上广泛使用的 Flash动画都是由HTML编写的。   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_08" id="ans_08_D" value="D" ng-model="ans.questa[7].answer" />
								<label for="ans_08_D">D. HTML也是一种高级程序设计语言。   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA109" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">9.&nbsp;</th>
  								<td>关于程序设计语言，下面哪个说法是正确的：</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_09" id="ans_09_A" value="A" ng-model="ans.questa[8].answer" />
								<label for="ans_09_A">A. 加了注释的程序一般会比同样的没有加注释的程序运行速度慢。   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_09" id="ans_09_B" value="B" ng-model="ans.questa[8].answer" />
								<label for="ans_09_B">B. 高级语言开发的程序不能使用在低层次的硬件系统如：自控机床或低端手机上。   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_09" id="ans_09_C" value="C" ng-model="ans.questa[8].answer" />
								<label for="ans_09_C">C. 高级语言相对于低级语言更容易实现跨平台的移植。   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_09" id="ans_09_D" value="D" ng-model="ans.questa[8].answer" />
								<label for="ans_09_D">D. 以上说法都不对。   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA110" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">10.&nbsp;</th>
  								<td>已知大写字母A的ASCII编码为65（10进制），则大写字母J的10进制ASCII编码为：</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_10" id="ans_10_A" value="A" ng-model="ans.questa[9].answer" />
								<label for="ans_10_A">A. 71   </label>
							</td><td width="25%">
								<input type="radio" name="ans_10" id="ans_10_B" value="B" ng-model="ans.questa[9].answer" />
								<label for="ans_10_B">B. 72   </label>
							</td><td width="25%">
								<input type="radio" name="ans_10" id="ans_10_C" value="C" ng-model="ans.questa[9].answer" />
								<label for="ans_10_C">C. 73   </label>
							</td><td width="25%">
								<input type="radio" name="ans_10" id="ans_10_D" value="D" ng-model="ans.questa[9].answer" />
								<label for="ans_10_D">D. 以上都不是   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA111" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">11.&nbsp;</th>
  								<td>十进制小数125.125对应的8进制数是  </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_11" id="ans_11_A" value="A" ng-model="ans.questa[10].answer" />
								<label for="ans_11_A">A. 100.1   </label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_B" value="B" ng-model="ans.questa[10].answer" />
								<label for="ans_11_B">B. 175.175   </label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_C" value="C" ng-model="ans.questa[10].answer" />
								<label for="ans_11_C">C. 175.1   </label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_D" value="D" ng-model="ans.questa[10].answer" />
								<label for="ans_11_D">D. 100.175   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA112" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">12.&nbsp;</th>
  								<td>有六个元素FEDCBA 从左至右依次顺序进栈，在进栈过程中会有元素被弹出栈。问下列哪一个不可能是合法的出栈序列？   </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_12" id="ans_12_A" value="A" ng-model="ans.questa[11].answer" />
								<label for="ans_12_A">A. EDCFAB   </label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_B" value="B" ng-model="ans.questa[11].answer" />
								<label for="ans_12_B">B. DECABF   </label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_C" value="C" ng-model="ans.questa[11].answer" />
								<label for="ans_12_C">C. CDFEBA   </label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_D" value="D" ng-model="ans.questa[11].answer" />
								<label for="ans_12_D">D. BCDAEF   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA113" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">13.&nbsp;</th>
  								<td>表达式a*(b+c)-d的后缀表达式是：   </td>
  							</tr>
  						</table>
  					</div>
  					<table class="table">
  						<tr><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_A" value="A" ng-model="ans.questa[12].answer" />
							<label for="ans_13_A">A. abcd*+-   </label>
  						</td><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_B" value="B" ng-model="ans.questa[12].answer" />
							<label for="ans_13_B">B. abc+*d-   </label>
  						</td><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_C" value="C" ng-model="ans.questa[12].answer" />
							<label for="ans_13_C">C. abc*+d-   </label>
  						</td><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_D" value="D" ng-model="ans.questa[12].answer" />
							<label for="ans_13_D">D. -+*abcd   </label>
  						</td></tr>
  					</table>
				</div>

				<div id="QA114" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">14.&nbsp;</th>
  								<td>一个包含n个分支结点（非叶结点）的非空二叉树，它的叶结点数目最多为：   </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_14" id="ans_14_A" value="A" ng-model="ans.questa[13].answer" />
								<label for="ans_14_A">A. 2n + 1   </label>
							</td><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_B" value="B" ng-model="ans.questa[13].answer" />
								<label for="ans_14_B">B. 2n-1   </label>
							</td><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_C" value="C" ng-model="ans.questa[13].answer" />
								<label for="ans_14_C">C. n-1   </label>
							</td><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_D" value="D" ng-model="ans.questa[13].answer" />
								<label for="ans_14_D">D. n+1   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA115" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">15.&nbsp;</th>
  								<td>快速排序最坏情况下的算法时间复杂度为：   </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_15" id="ans_15_A" value="A" ng-model="ans.questa[14].answer" />
								<label for="ans_15_A">A. O(log<sub>2</sub>n)   </label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_B" value="B" ng-model="ans.questa[14].answer" />
								<label for="ans_15_B">B. O(n)   </label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_C" value="C" ng-model="ans.questa[14].answer" />
								<label for="ans_15_C">C. O(nlog<sub>2</sub>n)   </label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_D" value="D" ng-model="ans.questa[14].answer" />
								<label for="ans_15_D">D. O(n<sup>2</sup>)   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA116" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">16.&nbsp;</th>
  								<td>有一个由4000个整数构成的顺序表，假定表中的元素已经按升序排列，采用二分查找定位一个元素。则最多需要几次比较就能确定是否存在所查找的元素：</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_16" id="ans_16_A" value="A" ng-model="ans.questa[15].answer" />
								<label for="ans_16_A">A. 11次   </label>
							</td><td width="25%">
								<input type="radio" name="ans_16" id="ans_16_B" value="B" ng-model="ans.questa[15].answer" />
								<label for="ans_16_B">B. 12次  </label>
							</td><td width="25%">
								<input type="radio" name="ans_16" id="ans_16_C" value="C" ng-model="ans.questa[15].answer" />
								<label for="ans_16_C">C. 13次   </label>
							</td><td width="25%">
								<input type="radio" name="ans_16" id="ans_16_D" value="D" ng-model="ans.questa[15].answer" />
								<label for="ans_16_D">D. 14次   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA117" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">17.&nbsp;</th>
  								<td>排序算法是稳定的意思是关键码相同的记录排序前后相对位置不发生改变，下列哪种排序算法是不稳定的：   </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_17" id="ans_17_A" value="A" ng-model="ans.questa[16].answer" />
								<label for="ans_17_A">A. 冒泡排序   </label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_B" value="B" ng-model="ans.questa[16].answer" />
								<label for="ans_17_B">B. 插入排序   </label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_C" value="C" ng-model="ans.questa[16].answer" />
								<label for="ans_17_C">C. 归并排序   </label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_D" value="D" ng-model="ans.questa[16].answer" />
								<label for="ans_17_D">D. 快速排序   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA118" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">18.&nbsp;</th>
  								<td>已知n个顶点的有向图，若该图是强连通的（从所有顶点都存在路径到达其他顶点），则该图中最少有多少条有向边？ </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_18" id="ans_18_A" value="A" ng-model="ans.questa[17].answer" />
								<label for="ans_18_A">A. n   </label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_B" value="B" ng-model="ans.questa[17].answer" />
								<label for="ans_18_B">B. n+1</label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_C" value="C" ng-model="ans.questa[17].answer" />
								<label for="ans_18_C">C. n-1  </label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_D" value="D" ng-model="ans.questa[17].answer" />
								<label for="ans_18_D">D. n*(n-1) </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA119" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">19.&nbsp;</th>
  								<td>全国信息学奥林匹克的官方网站为参与信息学竞赛的老师同学们提供相关的信息和资源，请问全国信息学奥林匹克官方网站的网址是：  </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_19" id="ans_19_A" value="A" ng-model="ans.questa[18].answer" />
								<label for="ans_19_A">A. http://www.noi.com/   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_19" id="ans_19_B" value="B" ng-model="ans.questa[18].answer" />
								<label for="ans_19_B">B. http://www.noi.org/   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_19" id="ans_19_C" value="C" ng-model="ans.questa[18].answer" />
								<label for="ans_19_C">C. http://www.noi.cn/   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_19" id="ans_19_D" value="D" ng-model="ans.questa[18].answer" />
								<label for="ans_19_D">D. http://www.xinxixue.com/   </label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA120" class="panel panel-default">
  					<div class="panel-heading"> 
  						<table>
  							<tr>
  								<th nowrap="nowrap">20.&nbsp;</th>
  								<td>在参加NOI系列竞赛过程中，下面哪一种行为是 不 被严格禁止的：   </td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_20" id="ans_20_A" value="A" ng-model="ans.questa[19].answer" />
								<label for="ans_20_A">A. 携带书写工具，手表和不具有通讯功能的电子词典进入赛场。   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_20" id="ans_20_B" value="B" ng-model="ans.questa[19].answer" />
								<label for="ans_20_B">B. 在联机测试中通过手工计算出可能的答案并在程序里直接输出答案来获取分数。   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_20" id="ans_20_C" value="C" ng-model="ans.questa[19].answer" />
								<label for="ans_20_C">C. 通过互联网搜索取得解题思路。   </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_20" id="ans_20_D" value="D" ng-model="ans.questa[19].answer" />
								<label for="ans_20_D">D. 在提交的程序中启动多个进程以提高程序的执行效率。   </label>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="page-header">
  					<h4><b>二、问题求解</b>（共2题，每空5分，共计10分）</h4>
				</div>
				
				<div id="QA201" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr>
								<th valign="top" nowrap="nowrap">1.&nbsp;</th>
								<td>
									小陈现有2个任务A，B要完成，每个任务分别有若干步骤如下：A=a1->a2->a3，B=b1->b2->b3->b4->b5。
									在任何时候，小陈只能专心做某个任务的一个步骤。但是如果愿意，他可以在做完手中任务的当前步骤后，
									切换至另一个任务，从上次此任务第一个未做的步骤继续。每个任务的步骤顺序不能打乱，
									例如……a2->b2->a3->b3……是合法的，而……a2->b3->a3->b2……是不合法的。
									小陈从B任务的b1步骤开始做，当恰做完某个任务的某个步骤后，就停工回家吃饭了。
									当他回来时，只记得自己已经完成了整个任务A，其他的都忘了。
									试计算小陈饭前已做的可能的任务步骤序列共有
									<input style="width: 100px;" type="text" ng-model="ans.questb[0].answer" placeholder="[5分]">
									种。
								</td>
							</tr>
						</table>
  					</div>
				</div>
				<div id="QA202" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr>
								<th valign="top" nowrap="nowrap">2.&nbsp;</th>
								<td>
									有如下的一段程序： <br /> 
									1. a=1;<br />   
									2. b=a;<br />   
									3. d=-a;<br />   
									4. e=a+d;<br />   
									5. c=2*d;<br />   
									6. f=b+e-d;<br />   
									7. g=a*f+c;<br /> 
								</td>
							</tr>		
							<tr><td></td><td>
								现在要把这段程序分配到若干台（数量充足）用电缆连接的PC上做并行执行。
								每台PC执行其中的某几个语句，并可随时通过电缆与其他PC通讯，交换一些中间结果。
								假设每台PC每单位时间可以执行一个语句，且通讯花费的时间不计。
								则这段程序最快可以在
								<input style="width: 100px;" type="text" ng-model="ans.questb[1].answer" placeholder="[5分]">
								单位时间内执行完毕。
								注意：任意中间结果只有在某台PC上已经得到，才可以被其他PC引用。例如若语句4和6被分别分配到两台PC上执行，
								则因为语句6需要引用语句4的计算结果，语句6必须在语句4之后执行。   																
							</td></tr>
						</table>
  					</div>
				</div>
				
				<div class="page-header">
  					<h4><b>三、阅读程序写结果</b>（共4题，每题8分，共计32分）</h4>
				</div>
				
				<div id="QA301" class="panel panel-default">
  					<div class="panel-body">
  						<table width="100%">
  							<tr><th valign="top" nowrap="nowrap">1.&nbsp;</th>
  								<td><pre>
#include &lt;iostream>
using namespace std;

int a,b;

int work(int a,int b){
	if (a%b)
		return work(b,a%b);
	return b;
}

int main(){
	cin >> a >> b;
	cout << work(a,b) << endl;
	return 0;
} 
  							</pre></td>							
  						</tr>
  							<tr><td></td><td>
  								<table>
  									<tr><td>输入：</td><td>20 12 </td></tr>
  									<tr><td>输出：</td><td>
 										<input style="width: 120px;" type="text" ng-model="ans.questc[0].answer" placeholder="[8分]"> 
 									</td></tr>
  								</table>
  							</td></tr>
  						</table>
					</div>
				</div>				
				<div id="QA302" class="panel panel-default">
  					<div class="panel-body">
  						<table width="100%">
  							<tr><th valign="top" nowrap="nowrap">2.&nbsp;</th>
  								<td><pre>
#include &lt;iostream>
using namespace std;
int main()
{
	int a[3],b[3];
	int i,j,tmp;
	for (i=0;i<3;i++)
		cin >> b[i];
	for (i=0;i<3;i++)
	{
		a[i]=0;
		for (j=0;j<=i;j++)
		{
			a[i]+=b[j];
			b[a[i]%3]+=a[j];
		}
	}
	tmp=1;
	for (i=0;i<3;i++)
	{
		a[i]%=10;
		b[i]%=10;
		tmp*=a[i]+b[i];
	}
	cout << tmp << endl;
	return 0;
}	
 					
							</pre></td>
  						</tr>
  							<tr><td></td><td>
  								<table>
  									<tr><td>输入：</td><td>2 3 5 </td></tr>
  									<tr><td>输出：</td><td>
 										<input style="width: 120px;" type="text" ng-model="ans.questc[1].answer" placeholder="[8分]">										  									
  									</td></tr>
  								</table>
  							</td></tr>
  						</table>
					</div>
				</div>
				<div id="QA303" class="panel panel-default">
  					<div class="panel-body">
  						<table width="100%">
  							<tr><th valign="top" nowrap="nowrap">3.&nbsp;</th>
  								<td><pre>
#include &lt;iostream>
using namespace std;

const int c=2009;

int main()
{
	int n,p,s,i,j,t;
	cin >> n >> p;
	s=0;t=1;
	for(i=1;i<=n;i++)
	{
		t=t*p%c;
		for(j=1;j<=i;j++)
			s=(s+t)%c;
	}
	cout << s << endl;
	return 0;
}  									
  							</pre></td>
  						</tr>
  							<tr><td></td><td>
  								<table>
  									<tr><td>输入：</td><td>11 2</td></tr>
  									<tr><td>输出：</td><td>
 										<input style="width: 120px;" type="text" ng-model="ans.questc[2].answer" placeholder="[8分]">  
  									</td></tr>
  								</table>
  							</td></tr>
  						</table>
					</div>
				</div>
				<div id="QA304" class="panel panel-default">
  					<div class="panel-body">
  						<table width="100%">
  							<tr><th valign="top" nowrap="nowrap">4.&nbsp;</th>
  								<td><pre>
#include &lt;iostream>
using namespace std;

const int maxn=50;
void getnext(char str[])
{
	int l=strlen(str),i,j,k,temp;
	k=l-2;
	while(k>=0&&str[k]>str[k+1]) k--;
	i=k+1;
	while(i<l&&str[i]>str[k]) i++;
	temp=str[k];
	str[k]=str[i-1];
	str[i-1]=temp;
	for(i=l-1;i>k;i--)
		for(j=k+1;j<i;j++)
			if(str[j]>str[j+1])
			{
				temp=str[j];
				str[j]=str[j+1];
				str[j+1]=temp;
			}
	return ;
}

int main()
{
	char a[maxn];
	int n;
	cin >> a >> n;
	while(n>0)
	{
		getnext(a);
		n--;
	}
	cout << a << endl;
	return 0;
}  									
  							</pre></td>
  						</tr>
  							<tr><td></td><td>
  								<table>
  									<tr><td>输入：</td><td>NOIP 3</td></tr>
  									<tr><td>输出：</td><td>
										<input style="width: 120px;" type="text" ng-model="ans.questc[3].answer" placeholder="[8分]">  									
  									</td></tr>
  								</table>
  							</td></tr>
  						</table>
					</div>
				</div>
				<div class="page-header">
  					<h4><b>四、完善程序</b>(前8空，每空3分，后2空，每空2分，共28分)</h4>
				</div>
				<div id="QA401" class="panel panel-default">
				  	<div class="panel-heading">
				    	<table width="100%">
				    		<tr>
				    			<th valign="top" nowrap="nowrap">1.&nbsp;</th>
				    			<th align="left" width="100%">（最大连续子段和）</th>
				    		</tr>
				    		<tr><td></td><td>
				    			给出一个数列（元素个数不多于100），数列元素均为负整数、正整数、0。
				    			请找出数列中的一个连续子数列，使得这个子数列中包含的所有元素之和最大，
				    			在和最大的前提下还要求该子数列包含的元素个数最多，
				    			并输出这个最大和以及该连续子数列中元素的个数。
				    			例如数列为4，-5，3，2，4时，输出9和3；数列为1 2 3 -5 0 7 8时，输出16和7。   
				    		</td></tr>
						</table>
					</div>

					<div class="panel-body">
					    <table width="100%">
				    		<tr><td nowrap="nowrap">&nbsp;&nbsp;&nbsp;</td><td>
				    			<pre>
#include &lt;iostream>
using namespace std;

int a[101];
int n,i,ans,len,tmp,beg;

int main(){
	cin >> n;
	for (i=1;i<=n;i++)
		cin >> a[i];
	tmp=0;
	ans=0;
	len=0;
	beg=<input id="QA411" style="width: 240px;" type="text" ng-model="ans.questd[0].answer" placeholder="(___1___)[3分]">;
	for (i=1;i<=n;i++)
	{
		if (tmp+a[i]>ans)
		{
			ans=tmp+a[i];
			len=i-beg;
		}
		else if (<input id="QA412" style="width: 240px;" type="text" ng-model="ans.questd[1].answer" placeholder="(___2___)[3分]">&&i-beg>len)
			len=i-beg;
		if (tmp+a[i]<input id="QA413" style="width: 240px;" type="text" ng-model="ans.questd[2].answer" placeholder="(___3___)[3分]">)
		{
			beg=<input id="QA414" style="width: 240px;" type="text" ng-model="ans.questd[3].answer" placeholder="(___4___)[3分]">;
			tmp=0;
		}
		else
			<input id="QA415" style="width: 240px;" type="text" ng-model="ans.questd[4].answer" placeholder="(___5___)[3分]">;
	}
	cout << ans << " " << len << endl;
	return 0;
}
				    		</pre></td></tr>
						</table>
					</div>
				</div>
				<div id="QA402" class="panel panel-default">
				  	<div class="panel-heading">
				    	<table width="100%">
				    		<tr>
				    			<th valign="top" nowrap="nowrap">2.&nbsp;</th>
				    			<th align="left" width="100%">（国王放置）</th>
				    		</tr>
				    		<tr><td></td><td>
				    			在n*m的棋盘上放置k个国王，要求k个国王互相不攻击，有多少种不同的放置方法。
				    			假设国王放置在第(x,y)格，国王的攻击的区域是:(x-1,y-1), (x-1,y),(x-1,y+1),(x,y-1),(x,y+1),(x+1,y-1),(x+1,y),(x+1,y+1)。
				    			读入三个数n,m,k，输出答案。题目利用回溯法求解。棋盘行标号为0~n-1，列标号为0~m-1。
				    		</td></tr>
						</table>
					</div>
					<div class="panel-body">
				    	<table width="100%">
				    		<tr>
								<td nowrap="nowrap">&nbsp;&nbsp;&nbsp;&nbsp;</td><td><pre>
#include &lt;iostream>
using namespace std;

int n,m,k,ans;
int hash[5][5];
void work(int x,int y,int tot)
{
	int i,j;
	if(tot==k)
	{
		ans++;
		return;
	}
	do{
		while (hash[x][y])
		{
			y++;
			if (y==m)
			{
				x++;
				y=<input id="QA421" style="width: 240px;" type="text" ng-model="ans.questd[5].answer" placeholder="(___1___)[3分]">;
			}
			if (x==n)
				return;
		}
		for(i=x-1;i<=x+1;i++)
			if (i>=0&&i&lt;n)
				for (j=y-1;j<=y+1;j++)
					if (j>=0&&j&lt;m)
						<input id="QA422" style="width: 240px;" type="text" ng-model="ans.questd[6].answer" placeholder="(___2___)[3分]">;
		<input id="QA423" style="width: 240px;" type="text" ng-model="ans.questd[7].answer" placeholder="(___3___)[3分]">;
		for(i=x-1;i<=x+1;i++)
			if (i>=0&&i&lt;n)
				for (j=y-1;j<=y+1;j++)
					if (j>=0&&j&lt;m)
						<input id="QA424" style="width: 240px;" type="text" ng-model="ans.questd[8].answer" placeholder="(___4___)[2分]">;
		y++;
		if(y==m)
		{
			x++;
			y=0;
		}
		if(x==n)
			return;
	}
	while (1);
}
int main()
{
	cin >> n >> m >> k;
	ans=0;
	memset(hash,0,sizeof(hash));
	<input id="QA425" style="width: 240px;" type="text" ng-model="ans.questd[9].answer" placeholder="(___5___)[2分]">;
	cout << ans << endl;
	return 0;
}
							</pre></td></tr>
						</table>
					</div>
				</div>
		
			</div>

		
			<div class="col-md-3" role="complementary">
				<div id="panel-top" class="page-header">
  					<h4><b>一、单选题</b></h4>
				</div>
    			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA101"><button id="btn_1_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA102"><button id="btn_1_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA103"><button id="btn_1_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA104"><button id="btn_1_4" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA105"><button id="btn_1_5" type="button" class="btn btn-default">5</button></a>
        				<a href="#QA106"><button id="btn_1_6" type="button" class="btn btn-default">6</button></a>
        				<a href="#QA107"><button id="btn_1_7" type="button" class="btn btn-default">7</button></a>
        				<a href="#QA108"><button id="btn_1_8" type="button" class="btn btn-default">8</button></a>
        				<a href="#QA109"><button id="btn_1_9" type="button" class="btn btn-default">9</button></a>
        				<a href="#QA110"><button id="btn_1_10" type="button" class="btn btn-default">10</button></a>
        				<a href="#QA111"><button id="btn_1_11" type="button" class="btn btn-default">11</button></a>
        				<a href="#QA112"><button id="btn_1_12" type="button" class="btn btn-default">12</button></a>
        				<a href="#QA113"><button id="btn_1_13" type="button" class="btn btn-default">13</button></a>
        				<a href="#QA114"><button id="btn_1_14" type="button" class="btn btn-default">14</button></a>
        				<a href="#QA115"><button id="btn_1_15" type="button" class="btn btn-default">15</button></a>
        				<a href="#QA116"><button id="btn_1_16" type="button" class="btn btn-default">16</button></a>
        				<a href="#QA117"><button id="btn_1_17" type="button" class="btn btn-default">17</button></a>
        				<a href="#QA118"><button id="btn_1_18" type="button" class="btn btn-default">18</button></a>
        				<a href="#QA119"><button id="btn_1_19" type="button" class="btn btn-default">19</button></a>
        				<a href="#QA120"><button id="btn_1_20" type="button" class="btn btn-default">20</button></a>
      				</div>
    			</div>
				<div class="page-header" style="margin: 20px 0 10px;">
  					<h4><b>二、问题求解</b></h4>
				</div>
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA201"><button id="btn_2_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA202"><button id="btn_2_2" type="button" class="btn btn-default">2</button></a>
      				</div>
    			</div>
				<div class="page-header" style="margin: 20px 0 10px;">
  					<h4><b>三、阅读程序写结果</b></h4>
				</div>
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA301"><button id="btn_3_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA302"><button id="btn_3_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA303"><button id="btn_3_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA304"><button id="btn_3_4" type="button" class="btn btn-default">4</button></a>
      				</div>
    			</div>
				<div class="page-header" style="margin: 20px 0 10px;">
  					<h4><b>四、完善程序</b></h4>
				</div>
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA411"><button id="btn_4_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA412"><button id="btn_4_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA413"><button id="btn_4_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA414"><button id="btn_4_4" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA415"><button id="btn_4_5" type="button" class="btn btn-default">5</button></a>
      				</div>
      				<div class="btn-group" role="group" aria-label="Second group">
        				<a href="#QA421"><button id="btn_4_6" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA422"><button id="btn_4_7" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA423"><button id="btn_4_8" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA424"><button id="btn_4_9" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA425"><button id="btn_4_10" type="button" class="btn btn-default">5</button></a>
      				</div>
    			</div>
			</div>		
		</div>			
		
		<footer class="footer ">
    		<div class="container">
      			<hr>
      			<div class="row footer-bottom">
        			<ul class="list-inline text-center">
          				<li><a>网页制作：屈靖梓</a></li>
          				<li>制作日期：2018年6月9日</li>
        			</ul>
      			</div>
    		</div>
  		</footer>
						
    	<!-- 左侧边栏 -->
		<div class="tool-box" style="left:-20px; display: block;">
			<ul class="meau-list">
				<li>
					<a class="btn-comments" title="交卷"  ng-click="$ctrl.doHandin()" style="cursor: pointer">
						<span class="glyphicon  glyphicon-log-out glp-size"></span><br>交卷
					</a>
				</li>
				<li>
					<a class="btn-comments" title="返回"  href="#panel-top" style="cursor: pointer">
						<span class="glyphicon  glyphicon-share-alt glp-size"></span><br>返回
					</a>
				</li>
			</ul>
		</div>
		
	    <!-- 成绩模态框 -->
    	<script type="text/ng-template" id="handin.html">
			<div class="panel panel-default">
				<div class="panel-heading">
					<table width="100%">
						<tr style="font-size: 20px; font-weight: bold;">
							<td>成绩统计结果</td>
							<td  ng-click="$ctrl.handinCancel()" align="right" style="cursor: pointer">&nbsp;X&nbsp;</td></tr>
					</table>
				</div>
				<table class="table">
					<tr>
						<th width="20%">一、单项选择</th>
						<th width="20%">二、问题求解</th>
						<th width="20%">三、阅读程序</th>
						<th width="20%">四、完善程序</th>
						<th width="20%">五、最终成绩</th>
					</tr>
					<tr>
						<td width="20%">{{score.q1}}</td>
						<td width="20%">{{score.q2}}</td>
						<td width="20%">{{score.q3}}</td>
						<td width="20%">{{score.q4}}</td>
						<td width="20%">{{score.qq}}</td>
					</tr>
				</table>
			</div>
    	</script>
		
		
		<script src="../../assets/jquery/3.3.1/jquery-3.3.1.min.js"></script>
		<script src="../../assets/angular/1.6.9/angular.min.js"></script>
		<script src="../../assets/angular-ui-bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
		<script src="../../assets/ng-dialog/1.4.0/js/ngDialog.min.js"></script>

		
		<script type="text/javascript">
    		var app = angular.module('testApp',['ui.bootstrap','ngDialog']);

			app.controller('test-paper', function ($log,$scope,$http,$uibModal,ngDialog) {
    			var $ctrl = this;

				$scope.ans = {};
				$scope.score = {q1:0,q2:0,q3:0,q4:0,qq:0};
				$scope.loadAnswers = function () {
		            $http({method: 'GET',url: '../../assets/data/junior-2009-10-17.json'}).then(
		                function successCallback(response) {
		                    $scope.ans = response.data;
		                    //$log.info($scope.ans);
		                }, function errorCallback(response) {
		                    $log.info(response);
		                }
		            );
		        }
    			
		        $scope.doJudge=function(){
		        	var sa = 0;
		        	for(var i=0;i<20;i++){
		        		var id = "#btn_1_" + (i+1);
		        		var qa = $scope.ans.questa[i];
		        		if(qa.answer==qa.key){
		        			sa = sa + qa.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q1 = sa;
					$log.info($scope.score.q1);
				
		        	var sb = 0;
					var qb = $scope.ans.questb;
					if(removeAllSpace(qb[0].answer)==qb[0].key){
						sb = sb + qb[0].score;
	        			$("#btn_2_1").removeClass("btn-danger");
	        			$("#btn_2_1").addClass("btn-success");
					}else{
	        			$("#btn_2_1").removeClass("btn-success");
	        			$("#btn_2_1").addClass("btn-danger");
					}
					if(removeAllSpace(qb[1].answer)==qb[1].key){
						sb = sb + qb[1].score;
	        			$("#btn_2_2").removeClass("btn-danger");
	        			$("#btn_2_2").addClass("btn-success");
					}else{
	        			$("#btn_2_2").removeClass("btn-success");
	        			$("#btn_2_2").addClass("btn-danger");
					}
					$scope.score.q2 = sb;

		        	var sc = 0;
		        	for(var i=0;i<4;i++){
		        		var id = "#btn_3_" + (i+1);
		        		var qc = $scope.ans.questc[i];
		        		if(removeAllSpace(qc.answer)==qc.key){
		        			sc = sc + qc.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q3 = sc;

		        	var sd = 0;
		        	for(var i=0;i<10;i++){
		        		var qd = $scope.ans.questd[i];
		        		var res = removeAllSpace(qd.answer);
		        		var ans = qd.key.split(";");
		        		var flag = 0;
		        		for(var j=0;j<ans.length;j++){
							if(res==ans[j]){
								flag = 1;
								break;
							}
		        		}
		        		var id = "#btn_4_" + (i+1);
		        		if(flag==1){
		        			sd = sd + qd.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q4 = sd;
			
					$scope.score.qq = sa + sb + sc + sd;
					
					
					
					
				}
    			   			
			
			
			    //显示登录模态框
        		$ctrl.doHandin = function(){
        			$scope.doJudge();
            		//显示模态登录对话框
            		var modalInstance = $uibModal.open({
                		animation: true,
                		ariaLabelledBy: 'login-title',
                		ariaDescribedBy: 'login-body',
                		templateUrl: 'handin.html',
                		controller: 'HandinController',
                		controllerAs: '$ctrl',
                		scope:$scope
            		});
            		//处理模态对话框按钮事件
            		modalInstance.result.then(function (data) {}, function (){});
        		} 			
			});
			
			//登录对话框控制器
		    app.controller('HandinController', function ($uibModalInstance,$scope,$log) {
		        var $ctrl = this;
		        //处理登录对话框关闭按钮事件
		        $ctrl.handinCancel = function () {
		            $uibModalInstance.dismiss('cancel');
		        };
		    });
			function removeAllSpace(str) {
				return str.replace(/\s+/g, "");
			}
		</script>			
	</body>
</html>
