<!DOCTYPE html>
<html lang="zh_CN" ng-app="testApp">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NOIP (20) C++ 2014-10-12</title>
    	<link href="../../assets/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    	<link href="../../assets/me/css/test.css" rel="stylesheet">
	</head>
	<body ng-controller="test-paper as $ctrl" data-ng-init="loadAnswers()">
		<header class="navbar navbar-static-top" id="top">
		    <div class="container">
		        <!--首行左侧-->
		        <div class="navbar-header">
		            <div class="navbar-brand">NOIP(20)2014普及组C++初赛试题</div>
		        </div>
		        <!-- 首行右侧-->
		        <nav id="bs-navbar" class="collapse navbar-collapse">
		            <ul class="nav navbar-nav navbar-right">
		                <li><a>竞赛时间：2014年10 月12 日 14:30~16:30</a></li>
		            </ul>
		        </nav>
		    </div>
		</header>
		
		<div class="container">
		    <!-- 左侧内容区 -->
		    <div class="col-md-9" role="main">
		    	
				<div class="page-header">
  					<h4><b>一、单项选择题</b>（共 20 题，每题 1.5 分，共计 30 分；每题有且仅有一个正确选项）</h4>
				</div>

				<div id="QA101" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">1.&nbsp;</th>
  								<td valign="top"> 以下哪个是面向对象的高级语言( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_01" id="ans_01_A" value="A" ng-model="ans.questa[0].answer" />
								<label for="ans_01_A">A. 汇编语言</label>
							</td><td width="25%">
								<input type="radio" name="ans_01" id="ans_01_B" value="B" ng-model="ans.questa[0].answer" />
								<label for="ans_01_B">B. C++</label>
							</td><td width="25%">
								<input type="radio" name="ans_01" id="ans_01_C" value="C" ng-model="ans.questa[0].answer" />
								<label for="ans_01_C">C. Fortran</label>
							</td><td width="25%">
								<input type="radio" name="ans_01" id="ans_01_D" value="D" ng-model="ans.questa[0].answer" />
								<label for="ans_01_D">D. Basic</label>
							</td>
						</tr>
					</table>
				</div>
				
				<div id="QA102" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">2.&nbsp;</th>
  								<td valign="top">1TB代表的字节数是( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_02" id="ans_02_A" value="A" ng-model="ans.questa[1].answer" />
								<label for="ans_02_A">A. 2的10次方</label>
							</td><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_B" value="B" ng-model="ans.questa[1].answer" />
								<label for="ans_02_B">B. 2的20次方</label>
							</td><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_C" value="C" ng-model="ans.questa[1].answer" />
								<label for="ans_02_C">C. 2的30次方</label>
							</td><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_D" value="D" ng-model="ans.questa[1].answer" />
								<label for="ans_02_D">D. 2的40次方</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA103" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">3.&nbsp;</th>
  								<td valign="top">二进制数00100100和00010101的和是( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_03" id="ans_03_A" value="A" ng-model="ans.questa[2].answer" />
								<label for="ans_03_A">A. 00101000</label>
							</td><td width="25%">
								<input type="radio" name="ans_03" id="ans_03_B" value="B" ng-model="ans.questa[2].answer" />
								<label for="ans_03_B">B. 001010100</label>
							</td><td width="25%">
								<input type="radio" name="ans_03" id="ans_03_C" value="C" ng-model="ans.questa[2].answer" />
								<label for="ans_03_C">C. 01000101</label>
							</td><td width="25%">
								<input type="radio" name="ans_03" id="ans_03_D" value="D" ng-model="ans.questa[2].answer" />
								<label for="ans_03_D">D. 00111001</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA104" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">4.&nbsp;</th>
  								<td valign="top">以下哪一种设备属于输出设备( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_04" id="ans_04_A" value="A" ng-model="ans.questa[3].answer" />
								<label for="ans_04_A">A. 扫描仪</label>
							</td><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_B" value="B" ng-model="ans.questa[3].answer" />
								<label for="ans_04_B">B. 键盘</label>
							</td><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_C" value="C" ng-model="ans.questa[3].answer" />
								<label for="ans_04_C">C. 鼠标</label>
							</td><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_D" value="D" ng-model="ans.questa[3].answer" />
								<label for="ans_04_D">D. 打印机</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA105" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">5.&nbsp;</th>
  								<td valign="top">下列对操作系统功能的描述最为完整的是( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_05" id="ans_05_A" value="A" ng-model="ans.questa[4].answer" />
								<label for="ans_05_A">A. 负责外设与主机之间的信息交换 </label>
							</td></tr><tr><td>
								<input type="radio" name="ans_05" id="ans_05_B" value="B" ng-model="ans.questa[4].answer" />
								<label for="ans_05_B">B. 负责诊断机器的故障</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_05" id="ans_05_C" value="C" ng-model="ans.questa[4].answer" />
								<label for="ans_05_C">C. 控制和管理计算机系统的各种硬件和软件资源的使用</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_05" id="ans_05_D" value="D" ng-model="ans.questa[4].answer" />
								<label for="ans_05_D">D. 将没有程序编译成目标程序</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA106" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">6.&nbsp;</th>
  								<td valign="top">CPU、存储器、I/O设备是通过( )连接起来的。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_06" id="ans_06_A" value="A" ng-model="ans.questa[5].answer" />
								<label for="ans_06_A">A. 接口</label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_B" value="B" ng-model="ans.questa[5].answer" />
								<label for="ans_06_B">B. 总线</label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_C" value="C" ng-model="ans.questa[5].answer" />
								<label for="ans_06_C">C. 控制线</label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_D" value="D" ng-model="ans.questa[5].answer" />
								<label for="ans_06_D">D. 系统文件</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA107" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">7.&nbsp;</th>
  								<td valign="top">断电后会丢失数据的存储器是( )。</td>
  							</tr>
  						</table>
  					</div>
  					<table class="table">
  						<tr><td>
							<input type="radio" name="ans_07" id="ans_07_A" value="A" ng-model="ans.questa[6].answer" />
							<label for="ans_07_A">A. RAM</label>
  						</td><td>
							<input type="radio" name="ans_07" id="ans_07_B" value="B" ng-model="ans.questa[6].answer" />
							<label for="ans_07_B">B. ROM</label>
  						</td><td>
							<input type="radio" name="ans_07" id="ans_07_C" value="C" ng-model="ans.questa[6].answer" />
							<label for="ans_07_C">C. 硬盘</label>
  						</td><td>
							<input type="radio" name="ans_07" id="ans_07_D" value="D" ng-model="ans.questa[6].answer" />
							<label for="ans_07_D">D. 光盘</label>
  						</td></tr>
  					</table>
				</div>

				<div id="QA108" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">8.&nbsp;</th>
  								<td valign="top">以下哪一种是属于电子邮件收发的协议( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_08" id="ans_08_A" value="A" ng-model="ans.questa[7].answer" />
								<label for="ans_08_A">A. SMTP</label>
							</td><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_B" value="B" ng-model="ans.questa[7].answer" />
								<label for="ans_08_B">B. UDP</label>
							</td><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_C" value="C" ng-model="ans.questa[7].answer" />
								<label for="ans_08_C">C. P2P</label>
							</td><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_D" value="D" ng-model="ans.questa[7].answer" />
								<label for="ans_08_D">D. FTP</label>
							</td>
						</tr>
					</table>
				</div>
	
				<div id="QA109" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">9.&nbsp;</th>
  								<td valign="top">下列选项中不属于图像格式的是( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_09" id="ans_09_A" value="A" ng-model="ans.questa[8].answer" />
								<label for="ans_09_A">A. JPEG格式</label>
							</td><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_B" value="B" ng-model="ans.questa[8].answer" />
								<label for="ans_09_B">B. TXT格式</label>
							</td><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_C" value="C" ng-model="ans.questa[8].answer" />
								<label for="ans_09_C">C. GIF格式</label>
							</td><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_D" value="D" ng-model="ans.questa[8].answer" />
								<label for="ans_09_D">D. PNG格式</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA110" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">10.&nbsp;</th>
  								<td valign="top">链表不具有的特点是( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_10" id="ans_10_A" value="A" ng-model="ans.questa[9].answer" />
								<label for="ans_10_A">A. 不必事先估计存储空间</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_10" id="ans_10_B" value="B" ng-model="ans.questa[9].answer" />
								<label for="ans_10_B">B. 可随机访问任一元素</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_10" id="ans_10_C" value="C" ng-model="ans.questa[9].answer" />
								<label for="ans_10_C">C. 插入删除不需要移动元素</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_10" id="ans_10_D" value="D" ng-model="ans.questa[9].answer" />
								<label for="ans_10_D">D. 所需空间与线性表长度成正比</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA111" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">11.&nbsp;</th>
  								<td valign="top">下列各无符号十进制整数中，能用八位二进制表示的数中最大的是( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_11" id="ans_11_A" value="A" ng-model="ans.questa[10].answer" />
								<label for="ans_11_A">A. 296</label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_B" value="B" ng-model="ans.questa[10].answer" />
								<label for="ans_11_B">B. 133</label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_C" value="C" ng-model="ans.questa[10].answer" />
								<label for="ans_11_C">C. 256</label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_D" value="D" ng-model="ans.questa[10].answer" />
								<label for="ans_11_D">D. 199</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA112" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">12.&nbsp;</th>
  								<td valign="top">下列几个32位IP地址中，书写错误的是( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_12" id="ans_12_A" value="A" ng-model="ans.questa[11].answer" />
								<label for="ans_12_A">A. 162.105.135.27</label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_B" value="B" ng-model="ans.questa[11].answer" />
								<label for="ans_12_B">B. 192.168.0.1</label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_C" value="C" ng-model="ans.questa[11].answer" />
								<label for="ans_12_C">C. 256.256.129.1</label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_D" value="D" ng-model="ans.questa[11].answer" />
								<label for="ans_12_D">D. 10.0.0.1</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA113" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">13.&nbsp;</th>
  								<td valign="top">
  						 			要求以下程序的功能是计算：s=1+1/2+1/3+...+1/10。
  									<pre>
#include &lt;iostream>  
using namespace std;  

int main(){ 
    int n;     
    float s;     
    s = 1.0; 
    for(n = 10; n > 1; n--)       
        s = s + 1 / n;     
    cout << s << endl;     
    return 0;   
} 
  									</pre>
  									程序运行后输出结果错误，导致错误结果的程序行是(   )。
  								</td>
  							</tr>
  						</table>
  					</div>
  					<table class="table">
  						<tr><td>
							<input type="radio" name="ans_13" id="ans_13_A" value="A" ng-model="ans.questa[12].answer" />
							<label for="ans_13_A">A. s = 1.0;</label>
  						</td></tr><tr><td>
							<input type="radio" name="ans_13" id="ans_13_B" value="B" ng-model="ans.questa[12].answer" />
							<label for="ans_13_B">B. for(n = 10; n > 1; n--)</label>
  						</td></tr><tr><td>
							<input type="radio" name="ans_13" id="ans_13_C" value="C" ng-model="ans.questa[12].answer" />
							<label for="ans_13_C">C. s = s + 1 / n;</label>
  						</td></tr><tr><td>
							<input type="radio" name="ans_13" id="ans_13_D" value="D" ng-model="ans.questa[12].answer" />
							<label for="ans_13_D">D. cout << s << endl;</label>
  						</td></tr>
  					</table>
				</div>

				<div id="QA114" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">14.&nbsp;</th>
  								<td valign="top">
  									设变量x为float型且已赋值，则以下语句中能将x中的数值保留到小数点后两位，
  									并将第三位四舍五入的是( )。
  								</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td>
								<input type="radio" name="ans_14" id="ans_14_A" value="A" ng-model="ans.questa[13].answer" />
								<label for="ans_14_A">A. x = (x * 100) + 0.5 / 100.0;</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_14" id="ans_14_B" value="B" ng-model="ans.questa[13].answer" />
								<label for="ans_14_B">B. x = (x * 100 + 0.5) / 100.0;</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_14" id="ans_14_C" value="C" ng-model="ans.questa[13].answer" />
								<label for="ans_14_C">C. x = (int)(x * 100 + 0.5)/100.0;</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_14" id="ans_14_D" value="D" ng-model="ans.questa[13].answer" />
								<label for="ans_14_D">D. x = (x / 100 + 0.5) * 100.0;</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA115" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">15.&nbsp;</th>
  								<td valign="top">
  						 			有以下程序 
  									<pre>
#include &lt;iostream>
using namespace std;  

int main(){ 
    int s, a, n;     
    s = 0;    
    a = 1;     
    cin >> n;     
    do
    { 
        s += 1;         
        a -= 2; 
    }
    while(a != n);     
    cout << s << endl;     
    return 0;  
} 
  									</pre>
  									若要使程序的输出值为2，则应该从键盘给n输入的值是( )。
  								</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_15" id="ans_15_A" value="A" ng-model="ans.questa[14].answer" />
								<label for="ans_15_A">A. -1</label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_B" value="B" ng-model="ans.questa[14].answer" />
								<label for="ans_15_B">B. -3</label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_C" value="C" ng-model="ans.questa[14].answer" />
								<label for="ans_15_C">C. -5</label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_D" value="D" ng-model="ans.questa[14].answer" />
								<label for="ans_15_D">D. 0</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA116" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">16.&nbsp;</th>
  								<td valign="top">一棵具有5层的满二叉树中结点数为(   )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_16" id="ans_16_A" value="A" ng-model="ans.questa[15].answer" />
								<label for="ans_16_A">A. 31</label>
							</td><td width="25%">
								<input type="radio" name="ans_16" id="ans_16_B" value="B" ng-model="ans.questa[15].answer" />
								<label for="ans_16_B">B. 32</label>
							</td><td width="25%">
								<input type="radio" name="ans_16" id="ans_16_C" value="C" ng-model="ans.questa[15].answer" />
								<label for="ans_16_C">C. 33</label>
							</td><td width="25%">
								<input type="radio" name="ans_16" id="ans_16_D" value="D" ng-model="ans.questa[15].answer" />
								<label for="ans_16_D">D. 16</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA117" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">17.&nbsp;</th>
  								<td valign="top">有向图中每个顶点的度等于该顶点的( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_17" id="ans_17_A" value="A" ng-model="ans.questa[16].answer" />
								<label for="ans_17_A">A. 入度</label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_B" value="B" ng-model="ans.questa[16].answer" />
								<label for="ans_17_B">B. 出度</label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_C" value="C" ng-model="ans.questa[16].answer" />
								<label for="ans_17_C">C. 入度和出度之和</label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_D" value="D" ng-model="ans.questa[16].answer" />
								<label for="ans_17_D">D. 入度和出度之差</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA118" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">18.&nbsp;</th>
  								<td valign="top">设有100个数据元素，采用折半搜索时，最大比较次数为( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_18" id="ans_18_A" value="A" ng-model="ans.questa[17].answer" />
								<label for="ans_18_A">A. 6</label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_B" value="B" ng-model="ans.questa[17].answer" />
								<label for="ans_18_B">B. 7</label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_C" value="C" ng-model="ans.questa[17].answer" />
								<label for="ans_18_C">C. 8</label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_D" value="D" ng-model="ans.questa[17].answer" />
								<label for="ans_18_D">D. 10</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA119" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">19.&nbsp;</th>
  								<td valign="top">
						 			若有如下程序段，其中s、a、b、c均已定义为整型变量，且a、c均已赋值，c>0。<br> 
									<code>s = a; for(b = 1; b <= c; b++) s += 1;</code><br> 
									则与上述程序段功能等价的赋值语句是(   )。
  								</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_19" id="ans_19_A" value="A" ng-model="ans.questa[18].answer" />
								<label for="ans_19_A">A. s = a + b</label>
							</td><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_B" value="B" ng-model="ans.questa[18].answer" />
								<label for="ans_19_B">B. s = a + c</label>
							</td><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_C" value="C" ng-model="ans.questa[18].answer" />
								<label for="ans_19_C">C. s = s + c</label>
							</td><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_D" value="D" ng-model="ans.questa[18].answer" />
								<label for="ans_19_D">D. s = b + c</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA120" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr>
  								<th valign="top" nowrap="nowrap">20.&nbsp;</th>
  								<td valign="top">计算机界的最高奖是( )。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_20" id="ans_20_A" value="A" ng-model="ans.questa[19].answer" />
								<label for="ans_20_A">A. 菲尔兹奖</label>
							</td><td width="25%">
								<input type="radio" name="ans_20" id="ans_20_B" value="B" ng-model="ans.questa[19].answer" />
								<label for="ans_20_B">B. 诺贝尔奖</label>
							</td><td width="25%">
								<input type="radio" name="ans_20" id="ans_20_C" value="C" ng-model="ans.questa[19].answer" />
								<label for="ans_20_C">C. 图灵奖</label>
							</td><td width="25%">
								<input type="radio" name="ans_20" id="ans_20_D" value="D" ng-model="ans.questa[19].answer" />
								<label for="ans_20_D">D. 普利策奖</label>
							</td>
						</tr>
					</table>
				</div>

				<div class="page-header">
  					<h4><b>二、问题求解</b>（共 2 题，每题 5 分，共计 10 分；每题全部答对得 5 分，没有部分分）</h4>
				</div>
				
				<div id="QA201" class="panel panel-default">
  					<div class="panel-body">
						<table>
							<tr>
								<th valign="top" nowrap="nowrap">1.&nbsp;</th>
								<td valign="top">
									把M个同样的球放到N个同样的袋子里，允许有的袋子空着不放，问共有多少种不同的放置方法？(用K表示)。<br>
									例如，M＝7，N＝3时，K＝8；在这里认为和是同一种放置方法。<br> 
									问：M＝8，N＝5时，K＝<input style="width: 60px;" type="text" ng-model="ans.questb[0].answer" placeholder="[5分]">。
								</td>
							</tr>
						</table>
  					</div>
				</div>
				
				<div id="QA202" class="panel panel-default">
  					<div class="panel-body">
						<table>
							<tr>
								<th valign="top" nowrap="nowrap">2.&nbsp;</th>
								<td valign="top">
									如图所示，图中每条边上的数字表示该边的长度，则从A到E的最短距离是
									<input style="width: 100px;" type="text" ng-model="ans.questb[1].answer" placeholder="[5分]">
									。
								</td>
							</tr>
							<tr>
								<th></th>
								<td valign="top"><img src="images/2014-10-12-1-1.png" </td>
							</tr>
						</table>
  					</div>
				</div>
				
				<div class="page-header">
  					<h4><b>三、阅读程序写结果</b>(共4题，每题8分，共计32分)</h4>
				</div>
				
				<div id="QA301" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr>
								<th valign="top"  nowrap="nowrap">1.&nbsp;</th>
								<td valign="top">
									<pre>
#include &lt;iostream>
using namespace std;

int main(){  
    int a, b, c, d, ans;     
    cin >> a >> b >> c;      
    d = a- b;      
    a = d + c;      
    ans = a * b;  
    cout << "Ans = " << ans << endl;
    return 0;    
} 
								</td>
							</tr>
							<tr><td></td><td>
								输入：2&nbsp;3&nbsp;4
							</td></tr>
							<tr><td></td><td>
								输出：Ans=<input style="width: 200px;" type="text" ng-model="ans.questc[0].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				
				<div id="QA302" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr>
								<th valign="top" nowrap="nowrap">2.&nbsp;</th>
								<td valign="top">
									<pre>
#include &lt;iostream>
using namespace std;

int fun(int n){  
    if(n == 1)        
        return 1;      
    if(n == 2)        
        return 2;  
    return fun(n - 2) - fun(n - 1);    
}

int main(){  
    int n;      
    cin >> n;  
    cout << fun(n) << endl;     
    return 0;    
} 
									</pre>
								</td>
							</tr>
							<tr><td></td><td>
								输入：7
							</td></tr>
							<tr><td></td><td>
								输出：<input style="width: 200px;" type="text" ng-model="ans.questc[1].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				
				<div id="QA303" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr>
								<th valign="top" nowrap="nowrap">3.&nbsp;</th>
								<td valign="top">
									<pre>
#include &lt;iostream>
#include &lt;string>   
using namespace std;  

int main() {
    string st;      
    int i, len;  
    getline(cin, st);
    len = st.size();  
    for(i = 0; i < len; i++)  
        if(st[i] >= 'a' && st[i] <= 'z')         
            st[i] = st[i] - 'a' + 'A';      
    cout << st << endl;      
    return 0;
}
									</pre>
								</td>
							</tr>
							<tr><td></td><td>
								输入：Hello, my name is Lostmonkey.
							</td></tr>
							<tr><td></td><td>
								输出：<input style="width: 200px;" type="text" ng-model="ans.questc[2].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				
				<div id="QA304" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr>
								<th valign="top" nowrap="nowrap">4.&nbsp;</th>
								<td valign="top">
									<pre>
#include &lt;iostream>
using namespace std;

const int SIZE = 100;   
int main(){  
    int p[SIZE];  
    int n, tot, i, cn;     
    tot = 0;     
    cin >> n;  
    for(i = 1; i <= n; i++)       
        p[i] = 1;  
    for(i = 2; i <= n; i++){  
        if(p[i] == 1)           
            tot++;          
        cn = i * 2;          
        while(cn <= n){  
   			p[cn] = 0;              
            cn += i;            
        }        
    }  
    cout << tot << endl;     
    
    return 0;    
}
									</pre>
								</td>
							</tr>
							<tr><td></td><td>
								输入：30
							</td></tr>
							<tr><td></td><td>
								输出：<input style="width: 200px;" type="text" ng-model="ans.questc[3].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				
				<div class="page-header">
  					<h4><b>四、完善程序</b>(共2题，共计28分)</h4>
				</div>
				
				<div id="QA401" class="panel panel-default">
				  <div class="panel-heading">
				    <table width="100%">
				    	<tr>
				    		<th valign="top" nowrap="nowrap">1.&nbsp;</th>
				    		<td><b>（数字删除）</b>下面程序的功能是将字符串中的数字字符删除后输出。请填空。</td>
				    	</tr>
				    </table>
				  </div>
				  <div class="panel-body">
				    <table width="100%">
				    	<tr>
				    		<th nowrap="nowrap">&nbsp;&nbsp;&nbsp;</th>
				    		<td>
								<pre>
#include &lt;iostream>
using namespace std;

int delnum(char *s){  
    int i, j;     
    j = 0;  
    for(i = 0; s[i] != '\0'; i++)  
        if(s[i] < '0'<input id="QA411" style="width: 240px;" type="text" ng-model="ans.questd[0].answer" placeholder="(___1___)[3分]">s[i] > '9'){  
   		    s[j] = s[i];          
 		    <input id="QA412" style="width: 240px;" type="text" ng-model="ans.questd[1].answer" placeholder="(___2___)[3分]">;         
        }     
    return <input id="QA413" style="width: 240px;" type="text" ng-model="ans.questd[2].answer" placeholder="(___3___)[3分]">;    
}   

const int SIZE = 30;   

int main(){  
    char s[SIZE];      
    int len, i;  
    cin.getline(s, sizeof(s));     
    len = delnum(s);  
    for(i = 0; i < len; i++)        
        cout << <input id="QA414" style="width: 240px;" type="text" ng-model="ans.questd[3].answer" placeholder="(___4___)[3分]"> ;      
    cout << endl;      
    return 0;   
} 
								</pre>    			
				    		</td>
				    	</tr>
				    </table>
				  </div>
				</div>
				
				<div id="QA402" class="panel panel-default">
				  <div class="panel-heading">
				    <table width="100%">
				    	<tr>
				    		<th valign="top"  nowrap="nowrap">2.&nbsp;</th>
				    		<td>
								<b>（最大子矩阵和）</b>
								给出m行n列的整数矩阵，求最大的子矩阵和(子矩阵不能为空)。<br>  
								输入第一行包含两个整数m和n，即矩阵的行数和列数。
								之后m行，每行n个整数，描述整个矩阵。
								程序最终输出最大的子矩阵和。<br> 
 								比如在如下这个矩阵中：<br>
 								4 4<br>  
								 0 -2 -7  0<br>
								 9  2 -6  2<br>
								-4  1 -4  1<br>
								-1  8  0 -2<br>
								拥有最大和的子矩阵为： <br>
								 9 2  <br>
								-4 1  <br>
								-1 8  <br>
								其和为15   <br>
								3  3  <br>
								-2 10 20 <br>
								-1 100 -2 <br>
								0 -2 -3 <br>
								最大子矩阵和为128 <br>  
								4  4  <br>
								0 -2 -9 -9<br> 
								-9 11 5 7 <br>
								-4 -3 -7 -6 <br>
								-1  7  7  5 <br>
								最大子矩阵和为26  <br>
				    		</td>
				    	</tr>
				    </table>
				  </div>
				  <div class="panel-body">
				    <table width="100%">
				    	<tr>
				    		<th nowrap="nowrap">&nbsp;&nbsp;&nbsp;</th>
				    		<td>
								<pre>
#include &lt;iostream>
using namespace std;

const int SIZE = 100;  
int matrix[SIZE + 1][SIZE + 1];  
int rowsum[SIZE + 1][SIZE + 1]; //rowsum[i][j]记录第i行前j个数的和  
int m, n, i, j, first, last, area, ans;   

int main(){  
    cin >> m >> n;  
    for(i = 1; i <= m; i++)        
        for(j = 1; j <= n; j++)          
            cin >> matrix[i][j];      
    ans = matrix<input id="QA421" style="width: 240px;" type="text" ng-model="ans.questd[4].answer" placeholder="(___1___)[3分]">;  
    for(i = 1; i <= m; i ++)        
        <input id="QA422" style="width: 240px;" type="text" ng-model="ans.questd[5].answer" placeholder="(___2___)[3分]">;
    for(i = 1; i <= m; i++)        
        for(j = 1; j <= n; j++)  
       		 rowsum[i][j] = <input id="QA423" style="width: 240px;" type="text" ng-model="ans.questd[6].answer" placeholder="(___3___)[3分]"> ;     
    for(first = 1; first <= n; first++)        
        for(last = first; last <= n; last++){  
            <input id="QA424" style="width: 240px;" type="text" ng-model="ans.questd[7].answer" placeholder="(___4___)[3分]">;  
            for(i = 1; i <= m; i++){  
                area += <input id="QA425" style="width: 240px;" type="text" ng-model="ans.questd[8].answer" placeholder="(___5___)[4分]">;               
                if(area > ans)                
                    ans = area;               
                if(area < 0)                
                    area = 0;             
            }        
        }  
    cout << ans << endl;      
    return 0;  
}
								</pre>    			
				    		</td>
				    	</tr>
				    </table>
				  </div>
				</div>
		    </div>
		    <!-- 右侧目录边栏-->
		    <div class="col-md-3" role="complementary">
		    	
				<div id="panel-top" class="page-header">
  					<h4><b>一、单选题</b></h4>
				</div>
				
    			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA101"><button id="btn_1_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA102"><button id="btn_1_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA103"><button id="btn_1_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA104"><button id="btn_1_4" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA105"><button id="btn_1_5" type="button" class="btn btn-default">5</button></a>
        				<a href="#QA106"><button id="btn_1_6" type="button" class="btn btn-default">6</button></a>
        				<a href="#QA107"><button id="btn_1_7" type="button" class="btn btn-default">7</button></a>
        				<a href="#QA108"><button id="btn_1_8" type="button" class="btn btn-default">8</button></a>
        				<a href="#QA109"><button id="btn_1_9" type="button" class="btn btn-default">9</button></a>
        				<a href="#QA110"><button id="btn_1_10" type="button" class="btn btn-default">10</button></a>
        				<a href="#QA111"><button id="btn_1_11" type="button" class="btn btn-default">11</button></a>
        				<a href="#QA112"><button id="btn_1_12" type="button" class="btn btn-default">12</button></a>
        				<a href="#QA113"><button id="btn_1_13" type="button" class="btn btn-default">13</button></a>
        				<a href="#QA114"><button id="btn_1_14" type="button" class="btn btn-default">14</button></a>
        				<a href="#QA115"><button id="btn_1_15" type="button" class="btn btn-default">15</button></a>
        				<a href="#QA116"><button id="btn_1_16" type="button" class="btn btn-default">16</button></a>
        				<a href="#QA117"><button id="btn_1_17" type="button" class="btn btn-default">17</button></a>
        				<a href="#QA118"><button id="btn_1_18" type="button" class="btn btn-default">18</button></a>
        				<a href="#QA119"><button id="btn_1_19" type="button" class="btn btn-default">19</button></a>
        				<a href="#QA120"><button id="btn_1_20" type="button" class="btn btn-default">20</button></a>
      				</div>
    			</div>
				
				<div class="page-header">
  					<h4><b>二、问题求解</b></h4>
				</div>
				
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA201"><button id="btn_2_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA202"><button id="btn_2_2" type="button" class="btn btn-default">2</button></a>
      				</div>
    			</div>

				<div class="page-header">
  					<h4><b>三、阅读程序写结果</b></h4>
				</div>
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA301"><button id="btn_3_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA302"><button id="btn_3_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA303"><button id="btn_3_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA304"><button id="btn_3_4" type="button" class="btn btn-default">4</button></a>
      				</div>
    			</div>

				<div class="page-header">
  					<h4><b>四、完善程序</b></h4>
				</div>
				
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA411"><button id="btn_4_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA412"><button id="btn_4_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA413"><button id="btn_4_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA414"><button id="btn_4_4" type="button" class="btn btn-default">4</button></a>
      				</div>
      				<div class="btn-group" role="group" aria-label="Second group">
        				<a href="#QA421"><button id="btn_4_5" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA422"><button id="btn_4_6" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA423"><button id="btn_4_7" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA424"><button id="btn_4_8" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA425"><button id="btn_4_9" type="button" class="btn btn-default">5</button></a>
      				</div>
    			</div>
		    </div>
    	</div>

		<footer class="footer ">
    		<div class="container">
      			<hr>
      			<div class="row footer-bottom">
        			<ul class="list-inline text-center">
          				<li><a>网页制作：张大为</a></li>
          				<li>制作日期：2018年5月31日</li>
        			</ul>
      			</div>
    		</div>
  		</footer>

    	<!-- 左侧边栏 -->
		<div class="tool-box" style="left:-20px; display: block;">
			<ul class="meau-list">
				<li>
					<a class="btn-comments" title="交卷"  ng-click="$ctrl.doHandin()" style="cursor: pointer">
						<span class="glyphicon  glyphicon-log-out glp-size"></span><br>交卷
					</a>
				</li>
				<li>
					<a class="btn-comments" title="交卷"  href="#panel-top" style="cursor: pointer">
						<span class="glyphicon  glyphicon-share-alt glp-size"></span><br>返回
					</a>
				</li>
			</ul>
		</div>

	    <!-- 成绩模态框 -->
    	<script type="text/ng-template" id="handin.html">
			<div class="panel panel-default">
				<div class="panel-heading">
					<table width="100%">
						<tr style="font-size: 20px; font-weight: bold;">
							<td>成绩统计结果</td>
							<td  ng-click="$ctrl.handinCancel()" align="right" style="cursor: pointer">&nbsp;X&nbsp;</td></tr>
					</table>
				</div>
				<table class="table">
					<tr>
						<th width="20%">一、单项选择</th>
						<th width="20%">二、问题求解</th>
						<th width="20%">三、阅读程序</th>
						<th width="20%">四、完善程序</th>
						<th width="20%">五、最终成绩</th>
					</tr>
					<tr>
						<td width="20%">{{score.q1}}</td>
						<td width="20%">{{score.q2}}</td>
						<td width="20%">{{score.q3}}</td>
						<td width="20%">{{score.q4}}</td>
						<td width="20%">{{score.qq}}</td>
					</tr>
				</table>
			</div>
    	</script>

		<script src="../../assets/jquery/3.3.1/jquery-3.3.1.min.js"></script>
		<script src="../../assets/angular/1.6.9/angular.min.js"></script>
		<script src="../../assets/angular-ui-bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
		<script src="../../assets/ng-dialog/1.4.0/js/ngDialog.min.js"></script>

		<script type="text/javascript">
    		var app = angular.module('testApp', ['ui.bootstrap','ngDialog']);
    		app.controller('test-paper', function ($log ,$scope,$http,$uibModal,ngDialog) {
    			var $ctrl = this;

				$scope.ans = {};
				$scope.score = {q1:0,q2:0,q3:0,q4:0,qq:0};
		        $scope.loadAnswers = function () {
		            $http({method: 'GET',url: '../../assets/data/junior-2014-10-12.json'}).then(
		                function successCallback(response) {
		                    $scope.ans = response.data;
		                }, function errorCallback(response) {
		                    $log.info(response);
		                }
		            );
		        }
		        
		        $scope.doJudge=function(){
		        	var sa = 0;
		        	for(var i=0;i<20;i++){
		        		var id = "#btn_1_" + (i+1);
		        		var qa = $scope.ans.questa[i];
		        		if(qa.answer==qa.key){
		        			sa = sa + qa.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}

		        	}
					$scope.score.q1 = sa;
					
		        	var sb = 0;
		        	for(var i=0;i<2;i++){
		        		var id = "#btn_2_" + (i+1);
		        		var qb = $scope.ans.questb[i];
		        		if(qb.answer==qb.key){
		        			sb = sb + qb.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}

		        	}
					$scope.score.q2 = sb;

		        	var sc = 0;
		        	for(var i=0;i<4;i++){
		        		var id = "#btn_3_" + (i+1);
		        		var qc = $scope.ans.questc[i];
		        		if($.trim(qc.answer)==qc.key){
		        			sc = sc + qc.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q3 = sc;

		        	var sd = 0;
		        	for(var i=0;i<9;i++){
		        		var qd = $scope.ans.questd[i];
		        		var res = removeAllSpace(qd.answer);
		        		var ans = qd.key.split(";");
		        		var flag = 0;
		        		for(var j=0;j<ans.length;j++){
							if(res==ans[j]){
								flag = 1;
								break;
							}
		        		}
		        		var id = "#btn_4_" + (i+1);
		        		if(flag==1){
		        			sd = sd + qd.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q4 = sd;
					
					$scope.score.qq = sa + sb + sc + sd;
		        }

        		//显示登录模态框
        		$ctrl.doHandin = function(){
        			$scope.doJudge();
            		//显示模态登录对话框
            		var modalInstance = $uibModal.open({
                		animation: true,
                		ariaLabelledBy: 'login-title',
                		ariaDescribedBy: 'login-body',
                		templateUrl: 'handin.html',
                		controller: 'HandinController',
                		controllerAs: '$ctrl',
                		scope:$scope
            		});
            		//处理模态对话框按钮事件
            		modalInstance.result.then(function (data) {}, function (){});
        		}

    		});

		    //登录对话框控制器
		    app.controller('HandinController', function ($uibModalInstance,$scope,$log) {
		        var $ctrl = this;
		        //处理登录对话框关闭按钮事件
		        $ctrl.handinCancel = function () {
		            $uibModalInstance.dismiss('cancel');
		        };
		    });

    		function removeAllSpace(str) {
				return str.replace(/\s+/g, "");
			}
		</script>
	</body>
</html>
