<!DOCTYPE html>
<html lang="zh_CN" ng-app="testApp">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NOIP (22) C++ 2016-10-22</title>
    	<link href="../../assets/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    	<link href="../../assets/me/css/test.css" rel="stylesheet">
	</head>
	<body ng-controller="test-paper as $ctrl" data-ng-init="loadAnswers()">
		<header class="navbar navbar-static-top" id="top">
		    <div class="container">
		        <!--首行左侧-->
		        <div class="navbar-header">
		            <div class="navbar-brand">NOIP(22)2016普及组C++初赛试题</div>
		        </div>
		        <!-- 首行右侧-->
		        <nav id="bs-navbar" class="collapse navbar-collapse">
		            <ul class="nav navbar-nav navbar-right">
		                <li><a>竞赛时间：2016年10 月22 日 14:30~16:30</a></li>
		            </ul>
		        </nav>
		    </div>
		</header>
		
		<div class="container">
		    <!-- 左侧内容区 -->
		    <div class="col-md-9" role="main">
		    	
				<div class="page-header">
  					<h4><b>一、单选题</b>(共20题，每题1.5分，共计30分；每题有且仅有一个正确选项)</h4>
				</div>

				<div id="QA101" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">1.&nbsp;</th>
  								<td>以下不是微软公司出品的软件是（ ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_01" id="ans_01_A" value="A" ng-model="ans.questa[0].answer" />
								<label for="ans_01_A">A. Powerpoint</label>
							</td><td width="25%">
								<input type="radio" name="ans_01" id="ans_01_B" value="B" ng-model="ans.questa[0].answer" />
								<label for="ans_01_B">B. Word</label>
							</td><td width="25%">
								<input type="radio" name="ans_01" id="ans_01_C" value="C" ng-model="ans.questa[0].answer" />
								<label for="ans_01_C">C. Excel</label>
							</td><td width="25%">
								<input type="radio" name="ans_01" id="ans_01_D" value="D" ng-model="ans.questa[0].answer" />
								<label for="ans_01_D">D. Acrobat Reader</label>
							</td>
						</tr>
					</table>
				</div>
				
				<div id="QA102" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">2.&nbsp;</th>
  								<td>如果256 种颜色用二进制编码来表示，至少需要（ ）位。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_A" value="A" ng-model="ans.questa[1].answer" />
								<label for="ans_02_A">A. 6</label>
							</td><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_B" value="B" ng-model="ans.questa[1].answer" />
								<label for="ans_02_B">B. 7</label>
							</td><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_C" value="C" ng-model="ans.questa[1].answer" />
								<label for="ans_02_C">C. 8</label>
							</td><td width="25%">
								<input type="radio" name="ans_02" id="ans_02_D" value="D" ng-model="ans.questa[1].answer" />
								<label for="ans_02_D">D. 9</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA103" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">3.&nbsp;</th>
  								<td>以下不属于无线通信技术的是（ ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_03" id="ans_03_A" value="A" ng-model="ans.questa[2].answer" />
								<label for="ans_03_A">A. 蓝牙</label>
							</td><td width="25%">
								<input type="radio" name="ans_03" id="ans_03_B" value="B" ng-model="ans.questa[2].answer" />
								<label for="ans_03_B">B. WiFi</label>
							</td><td width="25%">
								<input type="radio" name="ans_03" id="ans_03_C" value="C" ng-model="ans.questa[2].answer" />
								<label for="ans_03_C">C. GPRS</label>
							</td><td width="25%">
								<input type="radio" name="ans_03" id="ans_03_D" value="D" ng-model="ans.questa[2].answer" />
								<label for="ans_03_D">D. 以太网</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA104" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">4.&nbsp;</th>
  								<td>以下不是CPU生产厂商的是（ ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_A" value="A" ng-model="ans.questa[3].answer" />
								<label for="ans_04_A">A. Intel</label>
							</td><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_B" value="B" ng-model="ans.questa[3].answer" />
								<label for="ans_04_B">B. AMD</label>
							</td><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_C" value="C" ng-model="ans.questa[3].answer" />
								<label for="ans_04_C">C. Microsoft</label>
							</td><td width="25%">
								<input type="radio" name="ans_04" id="ans_04_D" value="D" ng-model="ans.questa[3].answer" />
								<label for="ans_04_D">D. IBM</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA105" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">5.&nbsp;</th>
  								<td>以下不是存储设备的是（ ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_05" id="ans_05_A" value="A" ng-model="ans.questa[4].answer" />
								<label for="ans_05_A">A. 光盘</label>
							</td><td width="25%">
								<input type="radio" name="ans_05" id="ans_05_B" value="B" ng-model="ans.questa[4].answer" />
								<label for="ans_05_B">B. 磁盘</label>
							</td><td width="25%">
								<input type="radio" name="ans_05" id="ans_05_C" value="C" ng-model="ans.questa[4].answer" />
								<label for="ans_05_C">C. 固态硬盘</label>
							</td><td width="25%">
								<input type="radio" name="ans_05" id="ans_05_D" value="D" ng-model="ans.questa[4].answer" />
								<label for="ans_05_D">D. 鼠标</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA106" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">6.&nbsp;</th>
  								<td>如果开始时计算机处于小写输入状态，现在有一只小老鼠反复按照CapsLock、
									字母键A、字母键S和字母键D的顺序循环按键，即CapsLock、A、S、D、
									CapsLock、A、S、D、……，屏幕上输出的第81 个字符是字母（ ）。
  								</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_A" value="A" ng-model="ans.questa[5].answer" />
								<label for="ans_06_A">A. A</label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_B" value="B" ng-model="ans.questa[5].answer" />
								<label for="ans_06_B">B. S</label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_C" value="C" ng-model="ans.questa[5].answer" />
								<label for="ans_06_C">C. D</label>
							</td><td width="25%">
								<input type="radio" name="ans_06" id="ans_06_D" value="D" ng-model="ans.questa[5].answer" />
								<label for="ans_06_D">D. a</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA107" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">7.&nbsp;</th>
  								<td>二进制数00101100 和00010101 的和是（ ）。</td>
  							</tr>
  						</table>
  					</div>
  					<table class="table">
  						<tr><td width="25%">
							<input type="radio" name="ans_07" id="ans_07_A" value="A" ng-model="ans.questa[6].answer" />
							<label for="ans_07_A">A. 00101000</label>
  						</td><td width="25%">
							<input type="radio" name="ans_07" id="ans_07_B" value="B" ng-model="ans.questa[6].answer" />
							<label for="ans_07_B">B. 01000001</label>
  						</td><td width="25%">
							<input type="radio" name="ans_07" id="ans_07_C" value="C" ng-model="ans.questa[6].answer" />
							<label for="ans_07_C">C. 01000100</label>
  						</td><td width="25%">
							<input type="radio" name="ans_07" id="ans_07_D" value="D" ng-model="ans.questa[6].answer" />
							<label for="ans_07_D">D. 00111000</label>
  						</td></tr>
  					</table>
				</div>

				<div id="QA108" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">8.&nbsp;</th>
  								<td>与二进制小数0.1 相等的八进制数是（ ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_A" value="A" ng-model="ans.questa[7].answer" />
								<label for="ans_08_A">A. 0.8</label>
							</td><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_B" value="B" ng-model="ans.questa[7].answer" />
								<label for="ans_08_B">B. 0.4</label>
							</td><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_C" value="C" ng-model="ans.questa[7].answer" />
								<label for="ans_08_C">C. 0.2</label>
							</td><td width="25%">
								<input type="radio" name="ans_08" id="ans_08_D" value="D" ng-model="ans.questa[7].answer" />
								<label for="ans_08_D">D. 0.1</label>
							</td>
						</tr>
					</table>
				</div>
	
				<div id="QA109" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">9.&nbsp;</th>
  								<td>以下是32 位机器和64 位机器的区别的是（ ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_A" value="A" ng-model="ans.questa[8].answer" />
								<label for="ans_09_A">A. 显示器不同</label>
							</td><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_B" value="B" ng-model="ans.questa[8].answer" />
								<label for="ans_09_B">B. 硬盘大小不同</label>
							</td><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_C" value="C" ng-model="ans.questa[8].answer" />
								<label for="ans_09_C">C. 寻址空间不同</label>
							</td><td width="25%">
								<input type="radio" name="ans_09" id="ans_09_D" value="D" ng-model="ans.questa[8].answer" />
								<label for="ans_09_D">D. 输入法不同</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA110" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">10.&nbsp;</th>
  								<td>以下关于字符串的判定语句中正确的是（ ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td>
								<input type="radio" name="ans_10" id="ans_10_A" value="A" ng-model="ans.questa[9].answer" />
								<label for="ans_10_A">A. 字符串是一种特殊的线性表</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_10" id="ans_10_B" value="B" ng-model="ans.questa[9].answer" />
								<label for="ans_10_B">B. 串的长度必须大于零</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_10" id="ans_10_C" value="C" ng-model="ans.questa[9].answer" />
								<label for="ans_10_C">C. 字符串不可以用数组来表示</label>
							</td></tr><tr><td>
								<input type="radio" name="ans_10" id="ans_10_D" value="D" ng-model="ans.questa[9].answer" />
								<label for="ans_10_D">D. 空格字符组成的串就是空串</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA111" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">11.&nbsp;</th>
  								<td valign="top">
								 	一棵二叉树如右图所示，若采用顺序存储结构，即用一维数组元素存储该二叉树中的结点（根结点的下标为1，
									若某结点的下标为i，则其左孩子位于下标2<sub>i</sub>处、右孩子位于下标(2<sub>i</sub>+1)处），
									则图中所有结点的最大下标为（ ）。
  								</td>
  								<td><img src="images/2016-10-22-1-1.png" style="width: 150px; height: 150px;"></td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_A" value="A" ng-model="ans.questa[10].answer" />
								<label for="ans_11_A">A. 6</label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_B" value="B" ng-model="ans.questa[10].answer" />
								<label for="ans_11_B">B. 10</label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_C" value="C" ng-model="ans.questa[10].answer" />
								<label for="ans_11_C">C. 12</label>
							</td><td width="25%">
								<input type="radio" name="ans_11" id="ans_11_D" value="D" ng-model="ans.questa[10].answer" />
								<label for="ans_11_D">D. 15</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA112" class="panel panel-default">
  					<div class="panel-heading">
  						<table width="100%">
  							<tr><th valign="top" nowrap="nowrap">12.&nbsp;</th>
  								<td>若有如下程序段，其中s、a、b、c均已定义为整型变量，且a、c均已赋值（c大于0）。
  									<pre>
s = a;
for (b = 1; b <= c; b++)
	s = s + 1;
  									</pre>
  									则与上述程序段修改s值的功能等价的赋值语句是（ ）。
  								</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_A" value="A" ng-model="ans.questa[11].answer" />
								<label for="ans_12_A">A. s = a + b;</label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_B" value="B" ng-model="ans.questa[11].answer" />
								<label for="ans_12_B">B. s = a + c;</label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_C" value="C" ng-model="ans.questa[11].answer" />
								<label for="ans_12_C">C. s = s + c;</label>
							</td><td width="25%">
								<input type="radio" name="ans_12" id="ans_12_D" value="D" ng-model="ans.questa[11].answer" />
								<label for="ans_12_D">D. s = b + c;</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA113" class="panel panel-default">
  					<div class="panel-heading">
  						<table width="100%">
  							<tr><th valign="top" nowrap="nowrap">13.&nbsp;</th>
  								<td>有以下程序：
  									<pre>
#include &lt;iostream>
using namespace std;

int main() {
    int k = 4, n = 0;
    while (n < k) {
        n++;
        if (n % 3 != 0)
            continue;
        k--;
    }
    cout << k << "," << n << endl;
    return 0;
}
  									</pre>
  									程序运行后的输出结果是（ ）。
  								</td>
  							</tr>
  						</table>
  					</div>
  					<table class="table">
  						<tr><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_A" value="A" ng-model="ans.questa[12].answer" />
							<label for="ans_13_A">A. 2,2</label>
  						</td><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_B" value="B" ng-model="ans.questa[12].answer" />
							<label for="ans_13_B">B. 2,3</label>
  						</td><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_C" value="C" ng-model="ans.questa[12].answer" />
							<label for="ans_13_C">C. 3,2</label>
  						</td><td width="25%">
							<input type="radio" name="ans_13" id="ans_13_D" value="D" ng-model="ans.questa[12].answer" />
							<label for="ans_13_D">D. 3,3</label>
  						</td></tr>
  					</table>
				</div>

				<div id="QA114" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">14.&nbsp;</th>
  								<td>给定含有n个不同的数的数组L=&lt; x<sub>1</sub>, x<sub>2</sub>, ..., 
  						 			x<sub>n</sub> &gt;。
  									如果L中存在x<sub>i</sub>(1< i < n)
  									使得x<sub>1</sub> < x<sub>2</sub> < ... 
  									< x<sub>i-1</sub> < x<sub>i</sub> > x<sub>i+1</sub> > ... 
  									> x<sub>n</sub>，
  									 则称L是单峰的，并称x<sub>i</sub>是L的“峰顶”。现在已知L是单峰的，
  									 请把a-c 三行代码补全到算法中使得算法正确找到L的峰顶。
									<pre>
a. Search(k+1, n)
b. Search(1, k-1)
c. return L[k]

Search(1, n)
1. k←⌊n/2⌋
2. if L[k] > L[k-1] and L[k] > L[k+1]
3. then __________
4. else if L[k] > L[k-1] and L[k] < L[k+1]
5. then __________
6. else __________
									</pre>
									正确的填空顺序是（ ）。
  								</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_A" value="A" ng-model="ans.questa[13].answer" />
								<label for="ans_14_A">A. c, a, b</label>
							</td><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_B" value="B" ng-model="ans.questa[13].answer" />
								<label for="ans_14_B">B. c, b, a</label>
							</td><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_C" value="C" ng-model="ans.questa[13].answer" />
								<label for="ans_14_C">C. a, b, c</label>
							</td><td width="25%">
								<input type="radio" name="ans_14" id="ans_14_D" value="D" ng-model="ans.questa[13].answer" />
								<label for="ans_14_D">D. b, a, c</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA115" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">15.&nbsp;</th>
  								<td>设简单无向图G有16 条边且每个顶点的度数都是2，则图G有（ ）个顶点。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_A" value="A" ng-model="ans.questa[14].answer" />
								<label for="ans_15_A">A. 10</label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_B" value="B" ng-model="ans.questa[14].answer" />
								<label for="ans_15_B">B. 12</label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_C" value="C" ng-model="ans.questa[14].answer" />
								<label for="ans_15_C">C. 8</label>
							</td><td width="25%">
								<input type="radio" name="ans_15" id="ans_15_D" value="D" ng-model="ans.questa[14].answer" />
								<label for="ans_15_D">D. 16</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA116" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">16.&nbsp;</th>
  								<td>有7 个一模一样的苹果，放到3 个一样的盘子中，一共有（ ）种放法。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_16" id="ans_16_A" value="A" ng-model="ans.questa[15].answer" />
								<label for="ans_16_A">A. 7</label>
							</td><td width="25%">
								<input type="radio" name="ans_16" id="ans_16_B" value="B" ng-model="ans.questa[15].answer" />
								<label for="ans_16_B">B. 8</label>
							</td><td width="25%">
								<input type="radio" name="ans_16" id="ans_16_C" value="C" ng-model="ans.questa[15].answer" />
								<label for="ans_16_C">C. 21</label>
							</td><td width="25%">
								<input type="radio" name="ans_16" id="ans_16_D" value="D" ng-model="ans.questa[15].answer" />
								<label for="ans_16_D">D. 37</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA117" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">17.&nbsp;</th>
  								<td valign="top">
								 	下图表示一个果园灌溉系统，有A、B、C、D四个阀门，每个阀门可以打开或关上，
									所有管道粗细相同，以下设置阀门的方法中，可以让果树浇上水的是（ ）。
  								</td>
  								<td><img src="images/2016-10-22-1-2.png"></td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_A" value="A" ng-model="ans.questa[16].answer" />
								<label for="ans_17_A">A. B打开，其他都关上</label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_B" value="B" ng-model="ans.questa[16].answer" />
								<label for="ans_17_B">B. AB都打开，CD都关上</label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_C" value="C" ng-model="ans.questa[16].answer" />
								<label for="ans_17_C">C. A打开，其他都关上 </label>
							</td><td width="25%">
								<input type="radio" name="ans_17" id="ans_17_D" value="D" ng-model="ans.questa[16].answer" />
								<label for="ans_17_D">D. D打开，其他都关上</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA118" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">18.&nbsp;</th>
  								<td valign="top">
									Lucia和她的朋友以及朋友的朋友都在某社交网站上注册了账号。下图是他们之间的关系图，
									两个人之间有边相连代表这两个人是朋友，没有边相连代表不是朋友。这个社交网站的规则是：
									如果某人A向他（她）的朋友B分享了某张照片，那么B就可以对该照片进行评论；如果B评论了该照片，
									那么他（她）的所有朋友都可以看见这个评论以及被评论的照片，但是不能对该照片进行评论
									（除非A也向他（她）分享了该照片）。现在Lucia已经上传了一张照片，
									但是她不想让Jacob看见这张照片，那么她可以向以下朋友（ ）分享该照片。
  								</td>
  								<td><img src="images/2016-10-22-1-3.png" style="width: 300px; height: 200px;"></td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_A" value="A" ng-model="ans.questa[17].answer" />
								<label for="ans_18_A">A. Dana, Michael, Eve</label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_B" value="B" ng-model="ans.questa[17].answer" />
								<label for="ans_18_B">B. Dana, Eve, Monica</label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_C" value="C" ng-model="ans.questa[17].answer" />
								<label for="ans_18_C">C. Michael, Eve, Jacob</label>
							</td><td width="25%">
								<input type="radio" name="ans_18" id="ans_18_D" value="D" ng-model="ans.questa[17].answer" />
								<label for="ans_18_D">D. Micheal, Peter, Monica</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA119" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">19.&nbsp;</th>
  								<td>周末小明和爸爸妈妈三个人一起想动手做三道菜。小明负责洗菜、爸爸负责切菜、妈妈负责炒菜。
									假设做每道菜的顺序都是：先洗菜10 分钟，然后切菜10 分钟，最后炒菜10 分钟。那么做一道菜需要30 分钟。<br>
									<b>注意：</b>两道不同的菜的相同步骤不可以同时进行。例如第一道菜和第二道的菜不能同时洗，也不能同时切。
									那么做完三道菜的最短时间需要（ ）分钟。
  								</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_A" value="A" ng-model="ans.questa[18].answer" />
								<label for="ans_19_A">A. 90</label>
							</td><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_B" value="B" ng-model="ans.questa[18].answer" />
								<label for="ans_19_B">B. 60</label>
							</td><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_C" value="C" ng-model="ans.questa[18].answer" />
								<label for="ans_19_C">C. 50</label>
							</td><td width="25%">
								<input type="radio" name="ans_19" id="ans_19_D" value="D" ng-model="ans.questa[18].answer" />
								<label for="ans_19_D">D. 40</label>
							</td>
						</tr>
					</table>
				</div>

				<div id="QA120" class="panel panel-default">
  					<div class="panel-heading">
  						<table>
  							<tr><th valign="top" nowrap="nowrap">20.&nbsp;</th>
  								<td>参加NOI比赛，以下不能带入考场的是（ ）。</td>
  							</tr>
  						</table>
  					</div>
					<table class="table">
						<tr>
							<td width="25%">
								<input type="radio" name="ans_20" id="ans_20_A" value="A" ng-model="ans.questa[19].answer" />
								<label for="ans_20_A">A. 钢笔</label>
							</td><td width="25%">
								<input type="radio" name="ans_20" id="ans_20_B" value="B" ng-model="ans.questa[19].answer" />
								<label for="ans_20_B">B. 适量的衣服</label>
							</td><td width="25%">
								<input type="radio" name="ans_20" id="ans_20_C" value="C" ng-model="ans.questa[19].answer" />
								<label for="ans_20_C">C. U盘</label>
							</td><td width="25%">
								<input type="radio" name="ans_20" id="ans_20_D" value="D" ng-model="ans.questa[19].answer" />
								<label for="ans_20_D">D. 铅笔</label>
							</td>
						</tr>
					</table>
				</div>

				<div class="page-header">
  					<h4><b>二、问题求解</b>(共2题，每题5分，共计10分)</h4>
				</div>
				
				<div id="QA201" class="panel panel-default">
  					<div class="panel-body">
						<table>
							<tr><th valign="top" nowrap="nowrap">1.&nbsp;</th>
								<td>从一个4×4 的棋盘（不可旋转）中选取不在同一行也不在同一列上的两个方格，共有
									<input style="width: 60px;" type="text" ng-model="ans.questb[0].answer" placeholder="[5分]">
									种方法。
								</td>
							</tr>
						</table>
  					</div>
				</div>
				
				<div id="QA202" class="panel panel-default">
  					<div class="panel-body">
						<table>
							<tr><th valign="top" nowrap="nowrap">2.&nbsp;</th>
								<td>约定二叉树的根节点高度为1。一棵结点数为2016 的二叉树最少有
									<input style="width: 60px;" type="text" ng-model="ans.questb[1].answer" placeholder="[2分]">
									个叶子结点；一棵结点数为2016 的二叉树最小的高度值是
									<input style="width: 60px;" type="text" ng-model="ans.questb[2].answer" placeholder="[3分]">。
								</td>
							</tr>
						</table>
  					</div>
				</div>
				
				<div class="page-header">
  					<h4><b>三、阅读程序写结果</b>(共4题，每题8分，共计32分)</h4>
				</div>

				<div id="QA301" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr><th valign="top" nowrap="nowrap">1.&nbsp;</th>
								<td><pre>
#include &lt;iostream>
using namespace std;

int main() {
    int max, min, sum, count = 0;
    int tmp;
    cin >> tmp;
    if (tmp == 0)
        return 0;
    max = min = sum = tmp;
    count++;
    while (tmp != 0) {
        cin >> tmp;
        if (tmp != 0) {
            sum += tmp;
            count++;
            if (tmp > max)
                max = tmp;
            if (tmp &lt; min)
                min = tmp;
        }
    }
    cout << max << "," << min << "," << sum / count << endl;
    return 0;
}								</pre></td>
							</tr>
							<tr><td></td><td>
								输入：1 2 3 4 5 6 0 7
							</td></tr>
							<tr><td></td><td>
								输出：<input style="width: 120px;" type="text" ng-model="ans.questc[0].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				
				<div id="QA302" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr><th valign="top" nowrap="nowrap">2.&nbsp;</th>
								<td><pre>
#include &lt;iostream>
using namespace std;

int main() {
    int i = 100, x = 0, y = 0;
    while (i > 0) {
        i--;
        x = i % 8;
        if (x == 1)
            y++;
    }
    cout << y << endl;
    return 0;
}
								</pre></td>
							</tr>
							<tr><td></td><td>
								输出：<input style="width: 120px;" type="text" ng-model="ans.questc[1].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				
				<div id="QA303" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr><th valign="top" nowrap="nowrap">3.&nbsp;</th>
								<td><pre>
#include &lt;iostream>
using namespace std;

int main() {
    int a[6] = {1, 2, 3, 4, 5, 6};
    int pi = 0;
    int pj = 5;
    int t , i;
    while (pi < pj) {
        t = a[pi];
        a[pi] = a[pj];
        a[pj] = t;
        pi++;
        pj--;
    }
    for (i = 0; i < 6; i++)
        cout << a[i] << ",";
    cout << endl;
    return 0;
}
								</pre></td>
							</tr>
							<tr><td></td><td>
								输出：<input style="width: 120px;" type="text" ng-model="ans.questc[2].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				
				<div id="QA304" class="panel panel-default">
  					<div class="panel-body">
						<table width="100%">
							<tr><th valign="top" nowrap="nowrap">4.&nbsp;</th>
								<td><pre>
#include &lt;iostream>
using namespace std;

int main() {
    int i, length1, length2;
    string s1, s2;
    s1 = "I have a dream.";
    s2 = "I Have A Dream.";
    length1 = s1.size();
    length2 = s2.size();
    for (i = 0; i < length1; i++)
        if (s1[i] >= 'a' && s1[i] <= 'z')
            s1[i] -= 'a' - 'A';
    for (i = 0; i < length2; i++)
        if (s2[i] >= 'a' && s2[i] <= 'z')
            s2[i] -= 'a' - 'A';
    if (s1 == s2)
        cout << "=" << endl;
    else if (s1 > s2)
        cout << ">" << endl;
    else
        cout << "<" << endl;
    return 0;
}
								</pre></td>
							</tr>
							<tr><td></td><td>
								输出：<input style="width: 120px;" type="text" ng-model="ans.questc[3].answer" placeholder="[8分]">
							</td></tr>
						</table>
  					</div>
				</div>
				
				<div class="page-header">
  					<h4><b>四、完善程序</b>(共2题，每题14分，共计28分)</h4>
				</div>
				
				<div id="QA401" class="panel panel-default">
				  	<div class="panel-heading">
				    	<table width="100%">
				    		<tr><th valign="top" nowrap="nowrap">1.&nbsp;</th>
				    			<td><b>（读入整数）</b>
									请完善下面的程序，使得程序能够读入两个int 范围内的整数，
									并将这两个整数分别输出，每行一个。<br>
									输入的整数之间和前后只会出现空格或者回车。输入数据保证合法。<br>
									例如：<br>
									<b>输入：</b><br>
									　　123 -789<br>
									<b>输出：</b><br>
									　　123<br>
									　　-789
				    			</td>
				    		</tr>
				    	</table>
				  	</div>
				  	<div class="panel-body">
				    	<table width="100%">
				    		<tr><th nowrap="nowrap">&nbsp;&nbsp;&nbsp;</th>
				    			<td><pre>
#include &lt;iostream>
using namespace std;

int readint() {
    int num = 0; // 存储读取到的整数
    int negative = 0; // 负数标识
    char c; // 存储当前读取到的字符
    c = cin.get();
    while ((c < '0' || c > '9') && c != '-')
        c = <input id="QA411" style="width: 240px;" type="text" ng-model="ans.questd[0].answer" placeholder="(___1___)[2.5分]">;
    if (c == '-')
        negative = 1;
    else
        <input id="QA412" style="width: 240px;" type="text" ng-model="ans.questd[1].answer" placeholder="(___2___)[3分]">;
    c = cin.get();
    while ( <input id="QA413" style="width: 240px;" type="text" ng-model="ans.questd[2].answer" placeholder="(___3___)[3分]"> ) {
        <input id="QA414" style="width: 240px;" type="text" ng-model="ans.questd[3].answer" placeholder="(___4___)[3分]">;
        c = cin.get();
    }
    if (negative == 1)
        <input id="QA415" style="width: 240px;" type="text" ng-model="ans.questd[4].answer" placeholder="(___5___)[2.5分]">;
    return num;
}

int main() {
    int a, b;
    a = readint();
    b = readint();
    cout << a << endl << b << endl;
    return 0;
}
								</pre></td>
				    		</tr>
				    	</table>
				  	</div>
				</div>
				
				<div id="QA402" class="panel panel-default">
				  	<div class="panel-heading">
				    	<table width="100%">
				    		<tr><th valign="top" nowrap="nowrap">2.&nbsp;</th>
				    			<td><b>（郊游活动）</b>
				    				有n名同学参加学校组织的郊游活动，已知学校给这n名同学
									的郊游总经费为A元，与此同时第i位同学自己携带了M<sub>i</sub>元。为了方便郊
									游，活动地点提供B(≥n)辆自行车供人租用，租用第j辆自行车的价格为C<sub>j</sub>
									元，每位同学可以使用自己携带的钱或者学校的郊游经费，为了方便账务管
									理，每位同学只能为自己租用自行车，且不会借钱给他人，他们想知道最多
									有多少位同学能够租用到自行车。<br>
									　　本题采用二分法。对于区间[l,r]，我们取中间点mid并判断租用到自行
									车的人数能否达到mid。判断的过程是利用贪心算法实现的。
				    			</td>
				    		</tr>
				    	</table>
				  	</div>
				  	<div class="panel-body">
				    	<table width="100%">
				    		<tr><th nowrap="nowrap">&nbsp;&nbsp;&nbsp;</th>
				    			<td><pre>
#include &lt;iostream>
using namespace std;

#define MAXN 1000000
int n, B, A, M[MAXN], C[MAXN], l, r, ans, mid;

bool check(int nn) {
    int count = 0, i, j;
    i = <input id="QA421" style="width: 240px;" type="text" ng-model="ans.questd[5].answer" placeholder="(___1___)[3分]">;
    j = 1;
    while (i <= n) {
        if (<input id="QA422" style="width: 240px;" type="text" ng-model="ans.questd[6].answer" placeholder="(___2___)[3分]">)
            count += C[j] - M[i];
        i++;
        j++;
    }
    return <input id="QA423" style="width: 240px;" type="text" ng-model="ans.questd[7].answer" placeholder="(___3___)[3分]">;
}

void sort(int a[], int l, int r) {
    int i = l, j = r, x = a[(l + r) / 2], y;
    while (i <= j) {
        while (a[i] < x) i++;
        while (a[j] > x) j--;
        if (i <= j) {
            y = a[i]; a[i] = a[j]; a[j] = y;
            i++; j--;
        }
    }
    if (i < r) sort(a, i, r);
    if (l < j) sort(a, l, j);
}

int main() {
    int i;
    cin >> n >> B >> A;
    for (i = 1; i <= n; i++)
        cin >> M[i];
    for (i = 1; i <= B; i++)
        cin >> C[i];
    sort(M, 1, n);
    sort(C, 1, B);
    l = 0;
    r = n;
    while (l <= r) {
        mid = (l + r) / 2;
        if (<input id="QA424" style="width: 240px;" type="text" ng-model="ans.questd[8].answer" placeholder="(___4___)[2.5分]">) {
            ans = mid;
            l = mid + 1;
        } else
            r = <input id="QA425" style="width: 240px;" type="text" ng-model="ans.questd[9].answer" placeholder="(___5___)[2.5分]">;
    }
    cout << ans << endl;
    return 0;
}
								</pre></td>
				    		</tr>
				    	</table>
				  	</div>
				</div>
		    </div>
		    
		    <!-- 右侧目录边栏-->
		    <div class="col-md-3" role="complementary">
		    	
				<div id="panel-top" class="page-header">
  					<h4><b>一、单选题</b></h4>
				</div>
				
    			<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA101"><button id="btn_1_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA102"><button id="btn_1_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA103"><button id="btn_1_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA104"><button id="btn_1_4" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA105"><button id="btn_1_5" type="button" class="btn btn-default">5</button></a>
        				<a href="#QA106"><button id="btn_1_6" type="button" class="btn btn-default">6</button></a>
        				<a href="#QA107"><button id="btn_1_7" type="button" class="btn btn-default">7</button></a>
        				<a href="#QA108"><button id="btn_1_8" type="button" class="btn btn-default">8</button></a>
        				<a href="#QA109"><button id="btn_1_9" type="button" class="btn btn-default">9</button></a>
        				<a href="#QA110"><button id="btn_1_10" type="button" class="btn btn-default">10</button></a>
        				<a href="#QA111"><button id="btn_1_11" type="button" class="btn btn-default">11</button></a>
        				<a href="#QA112"><button id="btn_1_12" type="button" class="btn btn-default">12</button></a>
        				<a href="#QA113"><button id="btn_1_13" type="button" class="btn btn-default">13</button></a>
        				<a href="#QA114"><button id="btn_1_14" type="button" class="btn btn-default">14</button></a>
        				<a href="#QA115"><button id="btn_1_15" type="button" class="btn btn-default">15</button></a>
        				<a href="#QA116"><button id="btn_1_16" type="button" class="btn btn-default">16</button></a>
        				<a href="#QA117"><button id="btn_1_17" type="button" class="btn btn-default">17</button></a>
        				<a href="#QA118"><button id="btn_1_18" type="button" class="btn btn-default">18</button></a>
        				<a href="#QA119"><button id="btn_1_19" type="button" class="btn btn-default">19</button></a>
        				<a href="#QA120"><button id="btn_1_20" type="button" class="btn btn-default">20</button></a>
      				</div>
    			</div>
				
				<div class="page-header">
  					<h4><b>二、问题求解</b></h4>
				</div>
				
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA201"><button id="btn_2_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA202"><button id="btn_2_2" type="button" class="btn btn-default">2</button></a>
      				</div>
    			</div>

				<div class="page-header">
  					<h4><b>三、阅读程序写结果</b></h4>
				</div>
				
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA301"><button id="btn_3_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA302"><button id="btn_3_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA303"><button id="btn_3_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA304"><button id="btn_3_4" type="button" class="btn btn-default">4</button></a>
      				</div>
    			</div>

				<div class="page-header">
  					<h4><b>四、完善程序</b></h4>
				</div>
				
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      				<div class="btn-group" role="group" aria-label="First group">
        				<a href="#QA411"><button id="btn_4_1" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA412"><button id="btn_4_2" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA413"><button id="btn_4_3" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA414"><button id="btn_4_4" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA415"><button id="btn_4_5" type="button" class="btn btn-default">5</button></a>
      				</div>
      				<div class="btn-group" role="group" aria-label="Second group">
        				<a href="#QA421"><button id="btn_4_6" type="button" class="btn btn-default">1</button></a>
        				<a href="#QA422"><button id="btn_4_7" type="button" class="btn btn-default">2</button></a>
        				<a href="#QA423"><button id="btn_4_8" type="button" class="btn btn-default">3</button></a>
        				<a href="#QA424"><button id="btn_4_9" type="button" class="btn btn-default">4</button></a>
        				<a href="#QA425"><button id="btn_4_10" type="button" class="btn btn-default">5</button></a>
      				</div>
    			</div>
		    </div>
    	</div>

		<footer class="footer ">
    		<div class="container">
      			<hr>
      			<div class="row footer-bottom">
        			<ul class="list-inline text-center">
          				<li><a>网页制作：张大为</a></li>
          				<li>制作日期：2018年5月17日</li>
        			</ul>
      			</div>
    		</div>
  		</footer>


    	<!-- 左侧边栏 -->
		<div class="tool-box" style="left:-20px; display: block;">
			<ul class="meau-list">
				<li>
					<a class="btn-comments" title="交卷"  ng-click="$ctrl.doHandin()" style="cursor: pointer">
						<span class="glyphicon  glyphicon-log-out glp-size"></span><br>交卷
					</a>
				</li>
				<li>
					<a class="btn-comments" title="返回"  href="#panel-top" style="cursor: pointer">
						<span class="glyphicon  glyphicon-share-alt glp-size"></span><br>返回
					</a>
				</li>
			</ul>
		</div>

	    <!-- 成绩模态框 -->
    	<script type="text/ng-template" id="handin.html">
			<div class="panel panel-default">
				<div class="panel-heading">
					<table width="100%">
						<tr style="font-size: 20px; font-weight: bold;">
							<td>成绩统计结果</td>
							<td  ng-click="$ctrl.handinCancel()" align="right" style="cursor: pointer">&nbsp;X&nbsp;</td></tr>
					</table>
				</div>
				<table class="table">
					<tr>
						<th width="20%">一、单项选择</th>
						<th width="20%">二、问题求解</th>
						<th width="20%">三、阅读程序</th>
						<th width="20%">四、完善程序</th>
						<th width="20%">五、最终成绩</th>
					</tr>
					<tr>
						<td width="20%">{{score.q1}}</td>
						<td width="20%">{{score.q2}}</td>
						<td width="20%">{{score.q3}}</td>
						<td width="20%">{{score.q4}}</td>
						<td width="20%">{{score.qq}}</td>
					</tr>
				</table>
			</div>
    	</script>

		<script src="../../assets/jquery/3.3.1/jquery-3.3.1.min.js"></script>
		<script src="../../assets/angular/1.6.9/angular.min.js"></script>
		<script src="../../assets/angular-ui-bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
		<script src="../../assets/ng-dialog/1.4.0/js/ngDialog.min.js"></script>

		<script type="text/javascript">
    		var app = angular.module('testApp', ['ui.bootstrap','ngDialog']);
    		app.controller('test-paper', function ($log ,$scope,$http,$uibModal,ngDialog) {
    			var $ctrl = this;

				$scope.ans = {};
				$scope.score = {q1:0,q2:0,q3:0,q4:0,qq:0};
		        $scope.loadAnswers = function () {
		            $http({method: 'GET',url: '../../assets/data/junior-2016-10-22.json'}).then(
		                function successCallback(response) {
		                    $scope.ans = response.data;
		                    $log.info($scope.ans);
		                }, function errorCallback(response) {
		                    $log.info(response);
		                }
		            );
		        }
		        
		        $scope.doJudge=function(){
		        	var sa = 0;
		        	for(var i=0;i<20;i++){
		        		var id = "#btn_1_" + (i+1);
		        		var qa = $scope.ans.questa[i];
		        		if(qa.answer==qa.key){
		        			sa = sa + qa.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}

		        	}
					$scope.score.q1 = sa;
					
		        	var sb = 0;
					var qb = $scope.ans.questb;
					if($.trim(qb[0].answer)==qb[0].key){
						sb = sb + qb[0].score;
	        			$("#btn_2_1").removeClass("btn-danger");
	        			$("#btn_2_1").addClass("btn-success");
					}else{
	        			$("#btn_2_1").removeClass("btn-success");
	        			$("#btn_2_1").addClass("btn-danger");
					}
					if($.trim(qb[2].answer)==qb[2].key && $.trim(qb[1].answer)==qb[1].key){
						sb = sb+ qb[1].score + qb[2].score;
	        			$("#btn_2_2").removeClass("btn-danger");
	        			$("#btn_2_2").addClass("btn-success");
					}else{
	        			$("#btn_2_2").removeClass("btn-success");
	        			$("#btn_2_2").addClass("btn-danger");
					}
					$scope.score.q2 = sb;

		        	var sc = 0;
		        	for(var i=0;i<4;i++){
		        		var id = "#btn_3_" + (i+1);
		        		var qc = $scope.ans.questc[i];
		        		if($.trim(qc.answer)==qc.key){
		        			sc = sc + qc.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q3 = sc;

		        	var sd = 0;
		        	for(var i=0;i<10;i++){
		        		var qd = $scope.ans.questd[i];
		        		var res = removeAllSpace(qd.answer);
		        		var ans = qd.key.split(";");
		        		var flag = 0;
		        		for(var j=0;j<ans.length;j++){
							if(res==ans[j]){
								flag = 1;
								break;
							}
		        		}
		        		var id = "#btn_4_" + (i+1);
		        		if(flag==1){
		        			sd = sd + qd.score;
		        			$(id).removeClass("btn-danger");
		        			$(id).addClass("btn-success");
		        		}else{
		        			$(id).removeClass("btn-success");
		        			$(id).addClass("btn-danger");
		        		}
		        	}
					$scope.score.q4 = sd;
					
					$scope.score.qq = sa + sb + sc + sd;
		        }

        		//显示登录模态框
        		$ctrl.doHandin = function(){
        			$scope.doJudge();
            		//显示模态登录对话框
            		var modalInstance = $uibModal.open({
                		animation: true,
                		ariaLabelledBy: 'login-title',
                		ariaDescribedBy: 'login-body',
                		templateUrl: 'handin.html',
                		controller: 'HandinController',
                		controllerAs: '$ctrl',
                		scope:$scope
            		});
            		//处理模态对话框按钮事件
            		modalInstance.result.then(function (data) {}, function (){});
        		}

    		});

		    //登录对话框控制器
		    app.controller('HandinController', function ($uibModalInstance,$scope,$log) {
		        var $ctrl = this;
		        //处理登录对话框关闭按钮事件
		        $ctrl.handinCancel = function () {
		            $uibModalInstance.dismiss('cancel');
		        };
		    });

    		function removeAllSpace(str) {
				return str.replace(/\s+/g, "");
			}
		</script>
	</body>
</html>
